{% extends "blogbase.html" %}
{% load tags %}

{% block body %}
    <p class='first'>
        These are blog posts people have found especially interesting or helpful
        over the years. Because I've written about different kinds of things,
        they are categorized to help you find something of interest:
    </p>

    <ul>
        {% for slug, sect in classics.items %}
            <li><a href="/blog/classics/{{ slug }}.html">{{ sect.head }}</a>: {{ sect.description }}</li>
        {% endfor %}
    </ul>

    <p>If you're looking for something else, you can also
        <a href='/site/search.html'>search this site</a> with Google.
    </p>

{% endblock %}
