{% extends "blogbase.html" %}
{% load tags %}

{% block body %}
    <p class='first'>
        These are blog posts people have found especially interesting or helpful
        over the years. Because I've written about different kinds of things,
        they are categorized to help you find something of interest:
    </p>

    <ul>
        <li><a href="/blog/classics/tech.html">Technical</a>: blah blah</li>
        <li><a href="/blog/classics/autism.html">Autism parenting</a>: blah blah</li>
        <li><a href="/blog/classics/me.html">About me</a></li>
    </ul>

    <p>If you're looking for something else, you can also
        <a href='/site/search.html'>search this site</a> with Google.
    </p>

{% endblock %}
