{% extends "blogbase.html" %}
{% load tags %}

{% block meta %}
{{ block.super }}
<meta name='ROBOTS' content='NOINDEX' />
{% endblock %}

{# No page dateline for blog posts #}
{% block dateline %}{% endblock %}

{% block body %}
    <p class='first'>
        {% ifequal type 'complete' %}
            These are all {{entries|length}} blog posts.
        {% endifequal %}
        {% ifequal type 'year' %}
            {% if entries|length_is:"1" %}
                This is the single blog post for {{year}}.
            {% else %}
                These are the {{entries|length}} blog posts for {{year}}.
            {% endif %}
            There is also a <a href='/blog/archive/all.html' rel='up'>complete archive</a>.
        {% endifequal %}
        {% ifequal type 'date' %}
            {% if entries|length_is:"0" %}
                There has never been a blog post
            {% elif entries|length_is:"1" %}
                This is the only blog post
            {% else %}
                These are the {{entries|length}} blog posts
            {% endif %}
            written on {{date|date:"F j"}} of any year.
            (Nearby:
                <a href='/blog/archive/date{{next_date|date:"md"}}.html'>{{next_date|date:"F j"}}</a>
            and
                <a href='/blog/archive/date{{prev_date|date:"md"}}.html'>{{prev_date|date:"F j"}}</a>.)
        {% endifequal %}
        {% ifequal type 'drafts' %}
            These are the {{entries|length}} unfinished blog posts.
        {% endifequal %}
    </p>

    <div class='archive'>
        {% for entry in entries %}

            {% ifequal type 'date' %}
                {% ifchanged %}
                <p class='date'>{{ entry.when|date:"Y" }}: </p>
                {% endifchanged %}
            {% else %}
                {% ifchanged %}
                <h2 id='month{{ entry.when|date:"Y" }}{{ entry.when|date:"m" }}'>{{ entry.when|date:"F Y" }}</h2>
                {% endifchanged %}

                {% ifchanged %}
                <p class='date'>{{ entry.when|date:"D j" }}: </p>
                {% endifchanged %}
            {% endifequal %}

            <p>
                <a class='s' href='{{entry.permaurl}}'>
                    {{entry.title}}
                </a>
            </p>

        {% endfor %}

    </div>

{% endblock %}
