{% extends "blogbase.html" %}
{% load tags %}

{# Don't index the content of the main blog page, it's all duplicates of individual entries. #}
{% block meta %}
{{ block.super }}
<meta name='ROBOTS' content='NOINDEX'>
{% endblock %}

{% block body %}
    {# Real entries #}
    {% for entry in entries_shown %}
        {% blog_entry entry 'brief' %}
    {% endfor %}

    {# Summary of older entries #}
    <p><i>Older:</i></p>
    {% for entry in entries_listed %}
        <div class='archive'>
            <p class='date'>{{entry.when|date:"M j"}}: </p>

            <p>
                <a href='{{entry.permaurl}}' class='s'>
                    {{entry.title}}
                </a>
            </p>
        </div>
    {% endfor %}

{% endblock %}
