{% extends "blogbase.html" %}
{% load tags %}

{% block meta %}
{{ block.super }}
<meta name='ROBOTS' content='NOINDEX' />
{% endblock %}

{# No page dateline for blog entries #}
{% block dateline %}{% endblock %}

{% block body %}
    <p class='first'>
        {% ifequal type 'complete' %}
            These are all {{entries|length}} blog entries, organized by date, newest first, and separated into months.
        {% endifequal %}
        {% ifequal type 'year' %}
            {% if entries|length_is:"1" %}
                This is the single blog entry for {{year}}.
            {% else %}
                These are the {{entries|length}} blog entries for {{year}},
                organized by date, newest first, and separated into months.
            {% endif %}
            There is also a <a href='/blog/archiveall.html' rel='up'>complete archive</a>.
        {% endifequal %}
    </p>

    <div class='archive'>
        {% for entry in entries %}

            {% ifchanged %}
            <h1 id='month{{ entry.when|date:"m" }}'>{{ entry.when|date:"F Y" }}</h1>
            {% endifchanged %}

            {% ifchanged %}
            <p class='date'>{{ entry.when|date:"D j"}}: </p>
            {% endifchanged %}

            <p>
                <a class='s' href='{{entry.permaurl}}'>
                    {{entry.title}}
                </a>
            </p>

        {% endfor %}

    </div>

{% endblock %}
