{% extends "blogbase.html" %}
{% load tags %}

{% block meta %}
{{ block.super }}
<meta name='ROBOTS' content='NOINDEX' />
{% endblock %}

{% block body %}
    <p class='first'>
        {% if type == 'complete' %}
            These are all {{entries|length}} blog posts.
        {% elif type == 'year' %}
            {% if entries|length == 1 %}
                This is the single blog post for {{year}}.
            {% else %}
                These are the {{entries|length}} blog posts for {{year}}.
            {% endif %}
            {% if prev_year %}
                Older is <a href='/blog/archive/year{{ prev_year }}'>{{ prev_year }}</a>.
            {% endif %}
            {% if next_year %}
                Newer is <a href='/blog/archive/year{{ next_year }}'>{{ next_year }}</a>.
            {% endif %}
            There is also a <a href='/blog/archive/all' rel='up'>complete archive</a>.
        {% elif type == 'date' %}
            {% if entries|length == 0 %}
                I have no blog posts
            {% elif entries|length == 1 %}
                This is the only blog post
            {% else %}
                These are the {{entries|length}} blog posts
            {% endif %}
            written on {{date|date:"F j"|nbsp}} of any year.
            (Nearby:
                <a href='/blog/archive/date{{prev_date|date:"md"}}'>{{prev_date|date:"F j"|nbsp}}</a>
            and
                <a href='/blog/archive/date{{next_date|date:"md"}}'>{{next_date|date:"F j"|nbsp}}</a>.)
        {% elif type == 'drafts' %}
            These are the {{entries|length}} unfinished blog posts.
        {% endif %}
    </p>

    <div class='archive'>
        {% for entry in entries %}

            {% if type == 'date' %}
                {% ifchanged %}
                <p class='date'><a href='/blog/archive/year{{ entry.when|date:"Y" }}'>{{ entry.when|date:"Y" }}</a>: </p>
                {% endifchanged %}
            {% else %}
                {% ifchanged %}
                <h2 id='month{{ entry.when|date:"Y" }}{{ entry.when|date:"m" }}'>{{ entry.when|date:"F Y" }}</h2>
                {% endifchanged %}

                {% ifchanged %}
                <p class='date'><a href='/blog/archive/date{{ entry.when|date:"md" }}'>{{ entry.when|date:"D j" }}</a>: </p>
                {% endifchanged %}
            {% endif %}

            <p>
                <a href='{{entry.permaurl}}'>{{entry.title}}</a>
                {% if entry.tags.all %}
                    {# The anonymous spans here are to force spacelessness so that we can control the nbsp stuff... #}
                    {# reallyspaceless doesn't mean what I thought, and maybe that should be fixed some day! #}
                    <span class='also'>{% ch ' _' %}<span>
                        {% for tag in entry.tags.all %}
                            <span>{% ifnotfirst %}{% ch '_' %}{% endifnotfirst %}
                                <a href='{{tag.permaurl}}'>#{{tag.hashtag}}</a>
                            </span>
                        {% endfor %}
                    </span></span>
                {% endif %}
            </p>

        {% endfor %}

    </div>

{% endblock %}
