{% load tags reactor %}
{% spaceless %}
{# A single blog entry, used by the blog_entry tag. #}
<article class='blog-entry' id='{{entry.entryid}}'>

{# Start Head #}
<header>
    {# Title #}
    {% if mode == 'brief' %}
        {% if entry.title %}
            <h3 class='title'>
                <a class='s' href='{{entry.permaurl}}' rel='bookmark' title='Link to this post'>{{entry.title}}</a>
            </h3>
        {% endif %}
    {% endif %}

    {# Date #}
    <p class='date'>
        <a class='s' href='{{entry.dateurl}}'>{{entry.when|date:"l j"}}</a>
        <a class='s' href='{{entry.monthurl}}'>{{entry.when|date:"F Y"}}</a>
    </p>
</header>
{# End Head #}

{# Body #}

{% if mode == 'brief' %}
{{entry.to_brief_html|safe}}
{% elif mode == 'full' %}
{{entry.to_html|safe}}
{% endif %}

{# End Body #}

{# Start Footer #}
<footer>
    <span class='via'>

    {# Categories #}
    {% for tag in entry.tags.all %}
        <a href='{{tag.permaurl}}' rel='tag'>#{{tag.hashtag}}</a>
    {% endfor %}

    {# Separator for category and via. #}
    {% if entry.tags.all and entry.via_set.all %}
        {% ch "  " %}/{% ch "  " %}
    {% endif %}

    {% reallyspaceless %}
    {# Via #}
    {% for via in entry.via_set.all %}
        {% if forloop.first %}via: {% endif %}
        {% if via.link %}
            <a href='{{via.link.href}}'>{{via.link.text}}</a>
        {% else %}
            {% if via.href %}
                <a href='{{via.href}}'>{{via.text}}</a>
            {% else %}
                <span>{{via.text}}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
    </span>

    {# Reactions #}
    {% if entry.draft %}
        <span class='react'>{% ch '>> ' %}just a draft, no comments yet.</span>
    {% else %}
        {% if mode == 'brief' %}
            <span class='react'>{% ch '>> ' %}<a href='{{entry.permaurl}}#comments'>
            {% comment_label entry.entryid %}
            </a></span>
        {% elif mode == 'full' %}
            <span class='react'>{% ch '>> ' %}
            {% comment_label entry.entryid %}
            </span>
        {% endif %}
    {% endif %}
    {% endreallyspaceless %}
</footer>
{# End Footer #}

</article>
{% endspaceless %}
