<!DOCTYPE HTML>
{% load tags %}
{# The Mighty Home Page!! #}
{% spaceless %}
<html lang="en">
<head>
{% metatags %}
<meta name="description" content="Ned Batchelder's personal web site, blog, writings, software, math, parenting, autism">
<meta name="keywords" content="Ned Batchelder, nedbat, Python, software, blog, parenting, autism, math">
{% if settings.NOINDEX %}<meta name="robots" content="noindex">{% endif %}
<title>Ned Batchelder</title>

{# RSS link #}
<link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="RSS feed for Ned's blog">

{# OpenId stuff #}
<link rel="openid.server" href="http://nedbat.wordpress.com/?openidserver=1">
<link rel="openid.delegate" href="http://nedbat.wordpress.com/">
<link rel="openid2.local_id" href="http://nedbat.wordpress.com">
<link rel="openid2.provider" href="http://nedbat.wordpress.com/?openidserver=1">

{# Styling #}
{% static_link "mainstyle.css" %}

{% static_link "nedbatchelder.js" %}

{% include "analytics.html" %}
</head>
<body id='mainpage'>

<div id='content'>
<header id='pagetitle'>
<h1>Ned Batchelder</h1>
<nav class='top_areas a-s'>
<a href='/blog'>Blog</a> {% ch "." %}
<a href='/code'>Code</a> {% ch "." %}
<a href='/text'>Text</a> {% ch "." %}
<a href='/site'>Site</a>
</nav>
</header>

<main>
<section>
    {# -- Latest entries: first two sentences. -- #}
    {% for entry in recent_entries %}
        <div class='blog-entry'>
            <h2><a class='s' href='{{entry.permaurl}}'>{{entry.title}}</a></h2>
            <p class='date'> {{entry.when|date:"j"}}{% ch " " %}{{entry.when|date:"F"}}{% if entry.show_year %}{% ch " " %}{{entry.when|date:"Y"}}{% endif %}</p>
            <p class='first'>{{entry.ogdescription|safe}}<span class='readmore'> {% ch ">> " %}<a href='{{entry.permaurl}}'>more..</a></span></p>
        </div>
    {% endfor %}
</section>

<section class='a-s'>
{% reallyspaceless %}
<p><b><a href='/blog'>More blog</a></b>{% ch " :" %}&#32;
{% for tag in tags %}
<a href='{{tag.permaurl}}'>#{{tag.hashtag}}</a>{% ch " ." %}&#32;
{% endfor %}
{% endreallyspaceless %}
{% for y in archive_years %}
<a href='/blog/archive/year{{y}}.html'>{% if forloop.first %}{{y}}{% else %}{% twodigit y %}{% endif %}</a>{% ch " ." %}&#32;
{% endfor %}
<a href='/blog/rss.xml' type='application/rss+xml'><img src='/pix/rss28.png' width='14' height='14' title='RSS feed of posts' alt='RSS feed'></a>
<span class='readmore'> {% ch ">> " %}<a href='/blog/tags.html'>more topics..</a></span>
</p>
</section>

<section class='a-s'>
<section>
<h2><a href='/code'>Code</a></h2>
<p class='huh'>software I made</p>
<ul>
    {% for x in code %}
    <li><b><a href='{{x.url}}'>{{x.title}}</a></b>{% ch " :" %} {{x.description}}</li>
    {% endfor %}
</ul>
<p class='readmore'>{% ch ">> " %}<a href='/code'>more code..</a></p>
</section>

<section>
<h2><a href='/text'>Text</a></h2>
<p class='huh'>words I wrote</p>
<ul>
    {% for x in text %}
    <li><b><a href='{{x.url}}'>{{x.title}}</a></b>{% ch " :" %} {{x.description}}</li>
    {% endfor %}
</ul>
<p class='readmore'>{% ch ">> " %}<a href='/text'>more text..</a></p>
</section>
</section>
</main>

</div> {# content #}

<aside class='sidebar'>
<div id='star'></div>
{% comment %}
<h2><a class='s' href='/site/hirened.html'>Hire me</a></h2>
<p class='first'>I'm a freelancer, ready to help you.  Let's talk about your project and what I can do.<span class='readmore'> {% ch ">> " %}<a href='/site/hirened.html'>get in touch..</a></span>
</p>
{% endcomment %}

<section class='oneline'>
<h2><a class='s' href='/site/aboutned.html' rel='author'>About me</a></h2>
<p>
I'm a software developer with a <a href='/NedBatchelder.pdf'>long career</a>,
<a href='http://susansenator.com'>a wife</a> and three sons, one autistic.
I help organize <a href='http://about.bostonpython.com'>Boston Python</a>.
<span class='readmore'> {% ch ">> " %}<a href='/site/aboutned.html' rel='author'>more..</a></span>
</p>
</section>

<section id='search'>
<h2><label for="searchterm">Search me</label></h2>
<form class="searchform" action="https://www.google.com/search" role="search">
    <input type="hidden" name="q" value="site:nedbatchelder.com">
    <div class="searchflex">
        <input id="searchterm" name="q" class="searchbox" size="15" aria-label="search this site">
        <input id="submit" type="image" title="Search" alt="Search" src="/pix/search.png">
    </div>
</form>
</section>

<section class='oneline a-s'>
<h2>Also me</h2>
<p>
<a href='http://twitter.com/nedbat'>twitter</a>{% ch " ." %}
<a href='http://github.com/nedbat'>github</a>{% ch " ." %}
<a href='https://github.com/users/nedbat/sponsorship'>sponsor</a>{% ch " ." %}
<a href='http://linkedin.com/in/nedbat'>linkedin</a>{% ch " ." %}
<a href='https://paypal.me/nedbat'>paypal</a>{% ch " ." %}
<a href='http://edx.org'>work</a>{% ch " ." %}
<a href='/NedBatchelder.pdf'>resume</a>{% ch " ." %}
<a href='https://tidelift.com/subscription/pkg/pypi-coverage?utm_source=pypi-coverage&utm_medium=referral&utm_campaign=nedbatblog'>tidelift</a>{% ch " ." %}
<a href='irc://irc.libera.chat/#python'>irc</a>{% ch " ." %}
<a href='https://about.bostonpython.com/slack'>slack</a>{% ch " ." %}
<a href='mailto:ned@nedbatchelder.com'>email</a>
</p>
</section>
</aside>

<footer class='sidebar'>
<p class='copyright'><a class='s' href='/site/legal.html' rel='license'>{% ch "(c) " %}{% year_range archive_years|last archive_years|first %}</a></p>
</footer>

</body>
</html>
{% endspaceless %}
