<?php ob_start(); ?><!DOCTYPE HTML>
{% load tags %}
{# The Mighty Home Page!! #}
{% spaceless %}
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="description" content="Ned Batchelder's personal web site, blog, writings, software, math, parenting, autism">
<meta name="keywords" content="Ned Batchelder, nedbat, Python, software, blog, parenting, autism, math">
<title>Ned Batchelder</title>

{# RSS link #}
<link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="RSS feed for Ned's blog">

{# OpenId stuff #}
{# <link rel="openid2.provider openid.server" href="https://open.login.yahooapis.com/openid/op/auth" /> #}
{# <link rel="openid2.local_id openid.delegate" href="http://www.flickr.com/photos/nedbat" /> #}
<link rel="openid.server" href="http://nedbat.wordpress.com/?openidserver=1">
<link rel="openid.delegate" href="http://nedbat.wordpress.com/">
<link rel="openid2.local_id" href="http://nedbat.wordpress.com">
<link rel="openid2.provider" href="http://nedbat.wordpress.com/?openidserver=1">

{# Styling #}
<link rel='stylesheet' href='/mainstyle.css' type='text/css'>
<link rel='stylesheet' href='/printstyle.css' type='text/css' media='print'>

{% include "analytics.html" %}
</head>
<body id='mainpage'>

<div id='content'>
<header id='pagetitle'>
<h1>Ned Batchelder</h1>
<nav class='top_areas'>
<a class='s' href='/blog'>Blog</a> {% ch "." %}
<a class='s' href='/code'>Code</a> {% ch "." %}
<a class='s' href='/text'>Text</a> {% ch "." %}
<a class='s' href='/site'>Site</a>
</nav>
</header>

<div class='section'>
    {# -- Latest four entries: first two sentences. -- #}
    {% for entry in recent_entries|slice:":4" %}
        <div class='blog-entry'>
            <h3><a class='s' href='{{entry.permaurl}}'>{{entry.title}}</a></h3>
            <p class='date'> {{entry.when|date:"j"}}{% ch " " %}{{entry.when|date:"F"}}{% if entry.show_year %}{% ch " " %}{{entry.when|date:"Y"}}{% endif %}</p>
            <p class='first'>{{entry.to_html|just_text|first_sentence:"2"|safe}}<span class='readmore'> {% ch ">> " %}<a href='{{entry.permaurl}}'>more..</a></span></p>
        </div>
    {% endfor %}
</div>

<div class='section'>
{% reallyspaceless %}
<p><b><a class='s' href='/blog'>More blog</a></b><span class='thinspace'>{% ch " " %}</span>{% ch ":" %}<span class='thinspace'>&#32;</span>
{% for tag in tags %}
<a class='s' href='{{tag.permaurl}}'>{{tag.name|lower}}</a><span class='thinspace'>{% ch " " %}</span>{% ch "." %}<span class='thinspace'>&#32;</span>
{% endfor %}
{% endreallyspaceless %}
{% for y in archive_years %}
<a class='s' href='/blog/archive{{y}}.html'>{% if forloop.first %}{{y}}{% else %}{% twodigit y %}{% endif %}</a><span class='thinspace'>{% ch " " %}</span>{% ch "." %}<span class='thinspace'> </span>
{% endfor %}
<a href='/blog/rss.xml' type='application/rss+xml'><img src='/pix/rss28.png' width='14' height='14' title='RSS feed of posts' alt='RSS feed'></a>
<span class='readmore'> {% ch ">> " %}<a href='/blog/tags.html'>more topics..</a></span>
</p>
</div>

<div class='section'>
<div class='subsection'>
<h3><a class='s' href='/code'>Code</a></h3>
<p class='huh'>software I made</p>
<ul>
    {% for x in code %}
    <li><span class='pilcrow'>{% ch "[] " %}</span><b><a class='s' href='{{x.url}}'>{{x.title}}</a></b>{% ch " :" %} {{x.description}}</li>
    {% endfor %}
<li><span class='readmore'>{% ch ">> " %}<a href='/code'>more code..</a></span></li>
</ul>
</div>

<div class='subsection'>
<h3><a class='s' href='/text'>Text</a></h3>
<p class='huh'>words I wrote</p>
<ul>
    {% for x in text %}
    <li><span class='pilcrow'>{% ch "[] " %}</span><b><a class='s' href='{{x.url}}'>{{x.title}}</a></b>{% ch " :" %} {{x.description}}</li>
    {% endfor %}
<li><span class='readmore'>{% ch ">> " %}<a href='/text'>more text..</a></span></li>
</ul>
</div>
</div>
</div>

<div id='other'>
<div id='star'></div>
{% comment %}
<h3><a class='s' href='/site/hirened.html'>Hire me</a></h3>
<p class='first'>I'm a freelancer, ready to help you.  Let's talk about your project and what I can do.<span class='readmore'> {% ch ">> " %}<a href='/site/hirened.html'>get in touch..</a></span>
</p>
{% endcomment %}

<div class='oneline'>
<h3><a class='s' href='/site/aboutned.html' rel='author'>About me</a></h3>
<p class='first'>{% ch " :" %}
I'm a software developer with a <a href='/NedBatchelder.pdf'>long career</a>,
<a href='http://susansenator.com'>a wife</a> and three boys, one autistic.
I help organize <a href='http://bostonpython.com'>Boston Python</a>.
<span class='readmore'> {% ch ">> " %}<a href='/site/aboutned.html'>more..</a></span>
</p>
</div>

<div id='search'>
{% search_box "<h3>Search me</h3>" %}
</div>

<div class='oneline'>
<h3 class='inline'>Also me</h3>
<p>{% ch " :" %}
<a class='s' href='http://twitter.com/nedbat'>twitter</a>{% ch " ." %}
<a class='s' href='http://github.com/nedbat'>github</a>{% ch " ." %}
<a class='s' href='http://bitbucket.com/ned'>bitbucket</a>{% ch " ." %}
<a class='s' href='http://linkedin.com/in/nedbat'>linkedin</a>{% ch " ." %}
<a class='s' href='#' onclick='window.prompt("My bitcoin address. Copy it! Thanks :)", "1NZt31quJzL8ZPKcxwFv7GZu2YU12DyMdU")'>bitcoin</a>{% ch " ." %}
<a class='s' href='https://paypal.me/nedbat'>paypal</a>{% ch " ." %}
<a class='s' href='http://edx.org'>work</a>{% ch " ." %}
<a class='s' href='/NedBatchelder.pdf'>resume</a>{% ch " ." %}
<a class='s' href='irc://irc.freenode.net/#python'>irc</a>{% ch " ." %}
<a class='s' href='mailto:ned@nedbatchelder.com'>email</a>
</p>
</div>

<p class='copyright'><a class='s' href='/site/legal.html' rel='copyright license'>{% ch "(c) " %}{% year_range archive_years|last archive_years|first %}</a></p>
</div>

</body>
</html>
{% endspaceless %}
