{# The top navbar #}
{% load tags %}
{% spaceless %}
    {# Above the title: a horizontal version of the root pagemenu. #}
    <nav class='path'>
        <a class='home' href='/'>Ned<span class='chelder'>&nbsp;</span>Bat<span class='chelder'>chelder</span></a>
        <span class='top_areas'>
            <span class='plaindot'>{% ch ":" %}</span>
            {% top_areas %}
            <span class='plaindot'>{% ch ":" %}</span>
            <a class="blm" href="/blog/202006/black_lives_matter.html">BLM</a>
            <a class="ukraine" title="Support Ukraine" href="https://stand-with-ukraine.pp.ua/#support-ukraine">&nbsp;</a>
            <a class="pride" title="Happy Pride!" href="/blog/201207/my_mom_got_married.html">&nbsp;</a>
            <a class="usflag" title="Optimistic despite current events" href="/blog/202411/my_politics.html">&nbsp;</a>
        </span>
    </nav>
{% endspaceless %}
