<?php ob_start(); ?><!DOCTYPE HTML>
{% load tags %}
{# Basic structure of a page on the site. #}
{% spaceless %}
<html lang='{% firstof lang "en" %}'>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{{meta|safe}}{% endblock %}

    {% for s in scripts %}
        <script src="{{s}}"></script>
    {% endfor %}

    {% if style %}
        <style>{{style}}</style>
    {% endif %}

    <title>Ned Batchelder: {{title}}</title>

    {% block pagelinks %}
    {% static_link "style.css" %}
    {# PT Serif for body text. Source Serif has no italic, Merriweather is wider and has old-style numerals. #}
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">
    {% if 'svg' in features %}
    {% static_link "svg.css" %}
    {% endif %}
    {% endblock %}

    {% static_link "nedbatchelder.js" %}

    {% include "analytics.html" %}
</head>

<body{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    <header id='banner'>
        {# Above the title: a horizontal version of the root pagemenu. #}
        <nav class='path'>
            <a class='home' href='/'>Ned<span class='chelder'>&nbsp;</span>Bat<span class='chelder'>chelder</span></a>
            <span class='top_areas'>
                {% top_areas %}
            </span>
        </nav>
    </header>

    <main id='content'>
        {# The title #}
        {% if not hide_h1 %}
        <h1 class='headslug'>{{title}}</h1>
        {% endif %}

        <div class='body'>
            {# TODO: combine #content and div.body? only need one? #}
            {% block dateline %}
            {% if min_date %}
                <p class='dateline'>
                    Created {{min_date|date:"j F Y"}}{% ifnotequal min_date max_date %}, last updated {{max_date|date:"j F Y"}}{% endifnotequal %}
                </p>
            {% endif %}
            {% endblock %}

            {% if comments %}
                <?php
                    require_once('inc/reactor_class.php');
                    $ror = new Reactor();
                ?>
            {% endif %}

            {% block body %}
            {{body|safe}}
            {% endblock body %}

            {% if comments %}
                <?php
                    $entryinfo = array();
                    $entryinfo["title"] = '{{comments.title|safe|addphpslashes}}';
                    $entryinfo["url"] = '{{comments.url|safe|addphpslashes}}';
                    {% if comments.lorem %}
                        $ror->lorem = 1;
                    {% endif %}
                    {% if not comments.closed %}
                        $ror->HandlePostedComment($entryinfo);
                    {% endif %}
                    echo $ror->RenderComments(
                        '{{comments.entryid|safe|addphpslashes}}',
                        'inc/inlinecomment{% if comments.closed %}closed{% endif %}.html',
                        $entryinfo
                    );
                ?>
            {% endif %}

        </div>
    </main>

    <aside id='sidebar'>
        {# Find a left-side sidebar menu for this page. #}
        {% block sidebar %}{% sidebar 'page' %}{% endblock %}
    </aside>

    <footer id='copyright'>
        <p class='copyright'>
            {% if copyright %}
                {{copyright}}
            {% else %}
                <a rel='license' href='/site/legal.html'>
                    {% ch '(c)' %} Copyright
                    {% if min_date %}
                        {% year_range min_date max_date %},
                    {% else %}
                        {% year_range 2002 2016 %},
                    {% endif %}
                    Ned Batchelder
                </a>
            {% endif %}
        </p>
    </footer>

    <header id='logo'>
        <a href='/' aria-hidden='true' tabindex='-1'>&nbsp;</a>
    </header>

</body>

</html>
{% endspaceless %}
