<?php ob_start(); ?><!DOCTYPE HTML>
{% load tags %}
{# Basic structure of a page on the site. #}
{% spaceless %}
<html lang='{% firstof lang "en" %}'>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width">
    {% block meta %}{{meta|safe}}{% endblock %}

    <title>Ned Batchelder: {{title}}</title>

    {% block pagelinks %}
    <link rel='stylesheet' href='{{settings.BASE}}/style.css' type='text/css'>
    <link rel='stylesheet' href='{{settings.BASE}}/printstyle.css' type='text/css' media='print'>
    {% endblock %}

    <script type='text/javascript' src='{{settings.BASE}}/nedbatchelder.js'></script>
    {% include "analytics.html" %}
</head>

<body>
    <table id='logo_banner'>
        <tr>
            <td id='logo'>
                <a href='/'><img src='/dodeca3_100.gif' width='100' height='120' alt='[*]'></a>
            </td>
            <td id='banner'>
                {# Above the title: a horizontal version of the root pagemenu. #}
                <span class='path'>
                    <a href='/'>Ned Batchelder</a> : {% top_areas %}
                </span><br>

                {# The title #}
                {#<!-- google_ad_section_start -->#}
                <span class='headslug'>{{title}}</span><br>
                {#<!-- google_ad_section_end -->#}

                {# Below the title: the page path. #}
                <span class='path'>
                    {% ch '>>' %} {% if crumbs %}{% link_list crumbs " : " %}{% else %}WTF??{% endif %}
                </span>
            </td>
        </tr>
    </table>
    <table id='content_menu'>
        <tr>
            <td id='content'>
                <div class='body'>
                    {# An empty div for main.js to write a search intro into. #}
                    <div id='searchwelcome'></div>

                    {% block dateline %}
                    {% if min_date %}
                        <p class='dateline'>
                            Created {{min_date|date:"j F Y"}}{% ifnotequal min_date max_date %}, last updated {{max_date|date:"j F Y"}}{% endifnotequal %}
                        </p>
                    {% endif %}
                    {% endblock %}

                    {% if comments %}
                        <?php
                            require_once('inc/reactor_class.php');
                            $ror = new Reactor();
                        ?>
                    {% endif %}

                    {#<!-- google_ad_section_start -->#}
                    {% block body %}
                    {{body|safe}}
                    {% endblock body %}
                    {#<!-- google_ad_section_end -->#}

                    {% if comments %}
                        {#<!-- google_ad_section_start(weight=ignore) -->#}
                        <?php
                            $entryinfo = array();
                            $entryinfo["title"] = '{{comments.title|safe|addphpslashes}}';
                            $entryinfo["url"] = '{{comments.url|safe|addphpslashes}}';
                            {% if not comments.closed %}
                                $ror->HandlePostedComment($entryinfo);
                            {% endif %}
                            echo $ror->RenderComments('{{comments.entryid|safe|addphpslashes}}', 'inc/inlinecomment{% if comments.closed %}closed{% endif %}.html', $entryinfo);
                        ?>
                        {#<!-- google_ad_section_end -->#}
                    {% endif %}

                </div>
            </td>

            <td id='menu'>
                {#<!-- google_ad_section_start(weight=ignore) -->#}
                <div class='sidebar'>
                    {# Find a left-side sidebar menu for this page. #}
                    {% block sidebar %}{% sidebar 'page' %}{% endblock %}
                </div>
                {#<!-- google_ad_section_end -->#}
            </td>
        </tr>
        <tr>
            <td id='copyright' colspan='2'>
                <p class='copyright'>
                    {% if copyright %}
                        {{copyright}}
                    {% else %}
                        <a rel='copyright license' href='/site/legal.html'>
                            {% ch '(c)' %} Copyright
                            {% if min_date %}
                                {% year_range min_date max_date %},
                            {% else %}
                                {% year_range 2002 2012 %}
                            {% endif %}
                            Ned Batchelder
                        </a>
                    {% endif %}
                </p>
            </td>
        </tr>

    </table>

</body>

</html>
{% endspaceless %}
