<!DOCTYPE HTML>
{% load tags reactor %}
{# Basic structure of a page on the site. #}
{% spaceless %}
<html lang="{% firstof lang "en" %}">
<head>
    <title>{{title}} | Ned Batchelder</title>

    {% metatags %}
    {% comment %}
    OpenGraph meta data. Use these validators:
        https://developers.facebook.com/tools/debug/
        https://cards-dev.twitter.com/validator

    Slack unfurling doesn't show og:updated_time, but does show article:published_time.
    I couldn't get Slack to show twitter:label1 etc stuff, but we don't need it.
    {% endcomment %}
    {% if title %}
        <meta property="og:title" content="{{title}}">
    {% endif %}
    {% if url %}
        <meta property="og:url" content="{{url}}">
    {% endif %}
    {% if description %}
        <meta name='description' content='{{description}}'>
        <meta property='og:description' content='{{description}}'>
    {% endif %}
    {% if image %}
        <meta property='og:image' content='{{image}}'>
        {% if image_alt %}
            <meta property='og:image:alt' content='{{image_alt}}'>
        {% endif %}
    {% endif %}
    {% if max_date %}
        <meta property='og:updated_time' content='{{max_date|date:"Y-m-d\TH:i:s"}}'>
        <meta property='article:published_time' content='{{max_date|date:"Y-m-d\TH:i:s"}}'>
    {% endif %}

    <link rel="webmention" href="https://webmention.io/nedbatchelder.com/webmention">

    {% block meta %}
    {% if settings.NOINDEX %}<meta name="robots" content="noindex">{% endif %}
    {{meta|safe}}
    {% endblock %}

    {% for s in scripts %}
        <script src="{{s}}"></script>
    {% endfor %}

    {% if style %}
        <style>{{style}}</style>
    {% endif %}

    {% block pagelinks %}
    {% static_link "style.css" %}
    {% static_url_link "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&amp;display=swap" type="css" defer=True %}

    {% if 'svg' in features %}
        {% static_link "svg.css" %}
    {% endif %}

    {% if 'tweets' in features %}
        {% static_url_link "https://platform.twitter.com/widgets.js" type="js" defer=True %}
    {% endif %}

    {% endblock %}

    {% static_link "nedbatchelder.js" %}

    {% include "analytics.html" %}
</head>

<body{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    <header id='banner'>
        {% navbar %}
    </header>

    <header id='alert'>
        <a href='/site/hirened.html'>
            I’m available for <b>freelance</b> work.
            <span class="link">Let’s talk</span> {% ch ">>" %}
        </a>
    </header>

    <main id='content'>
        {% if user.is_superuser %}
            {% if description or image %}
                <div class='ogmetadata'>
                    <details>
                    <summary>ⓘ</summary>
                        <div>
                        {% if description %}
                            <p>{% if entry and not entry.description %}<i>(auto):</i> {% endif %}{{description}}</p>
                        {% endif %}
                        {% if image %}
                            <figure>
                            <img src='{{image}}'{% if image_alt %} alt='{{image_alt}}'{% endif %}/>
                            {% if image_alt %}
                                <figcaption>{{image_alt}}</figcaption>
                            {% endif %}
                            </figure>
                        {% endif %}
                        </div>
                    </details>
                </div>
            {% endif %}
        {% endif %}

        {# The title #}
        {% if not hide_h1 %}
        <h1 class='headslug'>{{title}}</h1>
        {% endif %}

        <div class='body'>
            {# TODO: combine #content and div.body? only need one? #}
            {% block dateline %}
            {% if min_date %}
                <p class='dateline'>
                    Created {{min_date|date:"j F Y"}}{% if min_date != max_date %}, last updated {{max_date|date:"j F Y"}}{% endif %}
                </p>
            {% endif %}
            {% endblock %}

            {% block body %}
            {{pagebody|safe}}
            {% endblock body %}

            {% if comments %}
                {% entry_comments comments.entryid comments.url %}
            {% endif %}

        </div>
    </main>

    <aside id='sidebar'>
        {# Find a left-side sidebar menu for this page. #}
        {% block sidebar %}{% sidebar 'page' %}{% endblock %}
    </aside>

    <footer id='footer'>
        <p class='sitetools'>
            <span class="othermode-switch">
                <span class="btn dark">Dark</span><span class="btn light">Light</span>
            </span>
            <a href='/blog/202004/please_report_bugs_in_this_site.html'>
                Something wrong?
            </a>
        </p>
        <p class='copyright'>
            {% if copyright %}
                {{copyright}}
            {% else %}
                <a rel='license' href='/site/legal.html'>
                    {% ch '(c)' %} Copyright
                    {% if min_date %}
                        {% year_range min_date max_date %},
                    {% else %}
                        {% now "Y" as now_year %}
                        {% year_range 2002 now_year %},
                    {% endif %}
                    Ned Batchelder
                </a>
            {% endif %}
        </p>
    </footer>

    <header id='logo'>
        <a href='/' aria-hidden='true' tabindex='-1'>&nbsp;</a>
    </header>

</body>

</html>
{% endspaceless %}
