{# Self-made janky Google search box, since Google custom site search is busted. #}
<form class="searchform" action="http://www.google.com/search" style="margin-top:6px;">
    <input type="hidden" name="q" value="site:nedbatchelder.com">
    {% if label %}
        <span class="vmid">{{label|safe}}</span>
    {% endif %}
    <span class="searchbox vmid">
        <input type="search" name="q" class="searchbox vmid">
    </span>
    <input id="submit" class="vmid" type="image" title="Search" alt="Search" src="/pix/search.png">
</form>
