{# Self-made janky Google search box, since Google custom site search is busted. #}
<form class="searchform" action="https://www.google.com/search" style="margin-top:6px;">
    <input type="hidden" name="q" value="site:nedbatchelder.com">
    {% if label %}
        <label for="searchterm">{{label|safe}}</label>
    {% endif %}
    <div class="searchflex">
        <input id="searchterm" type="search" name="q" class="searchbox" size="15">
        <input id="submit" type="image" title="Search" alt="Search" src="/pix/search.png">
    </div>
</form>
