{# The blog sidebar #}
{% load tags %}
{% if include %}
<?php include('sidebar_{{which}}.inc'); ?>
{% else %}
{% spaceless %}
{% comment %}
<div id="SOPA">
    <div class="content">
    <h1>Stop SOPA</h1>
    <p>This site may contain material that infringes on someone else&#8217;s copyright, not on purpose, but it might.</p>
    <p>The U.S. House&#8217;s Stop Online Piracy Act and the Senate&#8217;s PROTECT-IP Act would permit
        the government to require access be blocked to sites accused of providing infringing material, all without due process or recourse.</p>
    <p>In solidarity with other sites like <a href='http://wikipedia.com'>Wikipedia</a> that are opposed to SOPA, this site is dark today.</p>
    <p><a href='https://www.google.com/landing/takeaction/'>Learn more, speak out.</a></p>
    </div>
</div>
{% endcomment %}
<div class='blogroll'>

    <ul class='first'>
        <li class='first'>Search this site:
            {% search_box %}
        </li>

        <li>
            {# <a href='/site/hirened.html'>Hire me</a> {% ch ' . ' %} #}
            <a href='/site/aboutned.html' rel='author'>About me</a>
        </li>

        <li class='inline'>Also me:
            <ul>
                <li><a href='http://twitter.com/nedbat'>twitter</a>{% ch ' .' %} </li>
                <li><a href='mailto:ned@nedbatchelder.com'>email</a></li>
            </ul>
        </li>

        <li class='inline'>Tip me:
            <ul>
                <li><a href='https://coinbase.com/nedbat'>bitcoin</a>{% ch ' .' %} </li>
                <li><a href='https://paypal.me/nedbat'>paypal</a></li>
            </ul>
        </li>

        {% comment %}
        {# Flattr: https://flattr.com/thing/343733/Neds-stuff #}
        <li>
            <a href="http://flattr.com/thing/343733/Neds-stuff" target="_blank">
                <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" width="93" height="20" />
            </a>
        </li>
        {% endcomment %}

        {% if commerce %}
        <li>Commerce:
            <ul class='compact'>
                {% comment %}
                <li>{% ch '>> ' %}<a href='http://www.zazzle.com/zib_redlektab*'>Git shirts</a></li>
                <li>{% ch '>> ' %}<a href='http://www.cafepress.com/nedbatchelder'>Mug &amp; T-Shirt</a></li>
                {% endcomment %}
                <li>{% ch '>> ' %}<a href='http://www.amazon.com/exec/obidos/redirect-home/nedbatchelder-20'>Amazon</a></li>

                <li>{% ch '>> ' %}<a href='http://susansenator.com/survivalguide.html'>Susan's books</a><br>
                    <a href='http://susansenator.com/makingpeace.html'>
                        <img src='/pix/makingpeacetiny.png' alt='Making Peace With Autism' width='83' height='127' style='margin: 10px 0 0 0'>
                    </a>
                    <a href='http://susansenator.com/dirt.html'>
                        <img src='/pix/dirttiny.png' alt='Dirt, a novel' width='86' height='125' style='margin: 10px 0 0 0'>
                    </a>
                    <!--
                    <a href='http://susansenator.com/survivalguide.html'>
                        <img src='pix/survivalguidetiny.png' alt='Autism Mom&#39;s Survival Guide' width='86' height='121' style='margin: 10px 0 0 0'>
                    </a>
                    -->
                </li>

            </ul>
        </li>
        {% endif %}

        {% if youmightlike %}
        <li>You might like:
            <ul class='compact'>
                <li>{% ch '>> ' %}<a href='/blog'>My blog</a></li>

                {% comment %}
                <li>{% ch '>> ' %}<a href='http://www.zazzle.com/zib_redlektab*'>Git shirts</a></li>
                {% endcomment %}

                <li>{% ch '>> ' %}<a href='http://susansenator.com/makingpeace.html'>My wife's books</a><br>
                    <a href='http://susansenator.com/makingpeace.html'>
                        <img src='/pix/makingpeacetiny.png' alt='Making Peace With Autism' width='83' height='127' style='margin: 10px 0 0 0'>
                    </a>
                    <a href='http://susansenator.com/survivalguide.html'>
                        <img src='/pix/survivalguidetiny.png' alt='Autism Mom&#39;s Survival Guide' width='86' height='121' style='margin: 10px 0 0 0'>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}

        {% comment %}
        {% if tags %}
        <li><a href='/blog/tags.html'>Tags</a>:
            <ul class='compact'>
                {% for tag in tags %}
                    <li>
                        {% ch '>> ' %}<a href='{{tag.permaurl}}'>{{tag.name}}</a>
                    </li>
                {% endfor %}

                <li>
                    {% ch '>> ' %}<a href='/blog/tags.html'>and {{more_tag_count}} more...</a>
                </li>
            </ul>
        </li>
        {% endif %}

        {% if archive_years %}
        <li class='inline'><a href='/blog/archiveall.html'>Archives</a>:
            <ul>
                {% for y in archive_years %}
                <li>
                <a href='/blog/archive{{y}}.html'>{{y}}</a>{% if not forloop.last %}{% ch " ." %}{% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endcomment %}

        {% if moreblog %}
        <li class='inline'>More blog:
            <ul>
                {% for link in moreblog %}
                <li>
                    <a href='{{link.link}}'>{{link.text|lower|safe}}</a><span class='thinspace'>{% ch " " %}</span>{% ch "." %}<span class='thinspace'> </span>
                </li>
                {% endfor %}
                <li><a href='/blog/tags.html'><i>all tags</i></a><span class='thinspace'>{% ch " " %}</span>{% ch "." %}<span class='thinspace'> </span></li>
                <li><a href='/blog/archiveall.html'><b><i>everything!</i></b></a></li>
            </ul>
        </li>
        {% endif %}

        {% comment %}
        {% if blogroll %}
        <li>You might like:
            <ul>
                {% for link in blogroll %}
                    <li><a href='{{link.href}}'>{{link.text}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endcomment %}

        {% comment %}
        <li><a href='/site/whatisablog.html'>What's a "blog"?</a></li>
        {% endcomment %}

        {% if rss %}
        <li><a
                href='/blog/rss.xml'
                type='application/rss+xml'
                style='
                    padding: 0 .4em;
                    background: #F60;
                    color: white;
                    border: 1px solid;
                    border-color: #FC9 #630 #330 #F96;
                    font-weight: bold;
                    text-decoration: none;
                    '
                >RSS</a>
            {% comment %}
            (<a href='/site/whatisrss.html'>huh?</a>)
            {% endcomment %}
            </li>
        {% endif %}

        {% comment %}
        <li><a href='/blog/rss.xml' type='application/rss+xml'><img src='/pix/feed-icon-16x16.png' height='16' width='16'> Feed</a>
            (<a href='/site/whatisrss.html'>huh?</a>)</li>
        {% endcomment %}

        {% comment %}
        <li><a href='mailto:ned@nedbatchelder.com'>Email me!</a></li>
        {% endcomment %}
    </ul>
</div>
{% endspaceless %}
{% endif %}
