{# The blog sidebar #}
{% load tags %}
{% if include %}
<?php include('sidebar_{{which}}.inc'); ?>
{% else %}
{% spaceless %}
<div class='blogroll'>

    <ul class='first'>
        <li class='first'><label for="searchterm">Search this site: </label>
            <form class="searchform" action="https://www.google.com/search" role="search">
                <input type="hidden" name="q" value="site:nedbatchelder.com">
                <input id="searchterm" name="q" class="searchbox" size="15" aria-label="search this site">
                <input id="submit" type="image" title="Search" alt="Search" src="/pix/search.png">
            </form>
        </li>

        <li class='inline'><label>Me: </label>
            <ul class='tight'>
                <li><a href='/site/aboutned.html' rel='author'>about</a></li>
                <li><a href='http://twitter.com/nedbat'>twitter</a></li>
                <li><a href='mailto:ned@nedbatchelder.com'>email</a></li>
                <li><a href='irc://irc.freenode.net/#python'>irc</a></li>
                <li><a href='#' onclick='window.prompt("My bitcoin address. Copy it! Thanks :)", "1NZt31quJzL8ZPKcxwFv7GZu2YU12DyMdU")'>bitcoin</a></li>
                <li><a href='https://paypal.me/nedbat'>paypal</a></li>
                <li><a href='http://edx.org'>work</a></li>
                <li><a href='http://github.com/nedbat'>github</a></li>
                <li><a href='http://linkedin.com/in/nedbat'>linkedin</a></li>
                <li><a href='/NedBatchelder.pdf'>resume</a></li>
            </ul>
        </li>

        {% if commerce %}
        <li><label>Commerce: </label>
            <ul class='compact'>
                <li>{% ch '>> ' %}<a href='http://www.amazon.com/exec/obidos/redirect-home/nedbatchelder-20'>Amazon</a></li>

                <li>{% ch '>> ' %}<a href='http://susansenator.com/survivalguide.html'>Susan's books</a><br>
                    <a href='http://susansenator.com/makingpeace.html'>
                        <img src='/pix/makingpeacetiny.png' alt='Making Peace With Autism' width='83' height='127' style='margin: 10px 0 0 0'>
                    </a>
                    <a href='http://susansenator.com/dirt.html'>
                        <img src='/pix/dirttiny.png' alt='Dirt, a novel' width='86' height='125' style='margin: 10px 0 0 0'>
                    </a>
                    <!--
                    <a href='http://susansenator.com/survivalguide.html'>
                        <img src='pix/survivalguidetiny.png' alt='Autism Mom&#39;s Survival Guide' width='86' height='121' style='margin: 10px 0 0 0'>
                    </a>
                    -->
                </li>

            </ul>
        </li>
        {% endif %}

        {% if youmightlike %}
        <li><label>You might like: </label>
            <ul class='compact'>
                <li>{% ch '>> ' %}<a href='/blog'>My blog</a></li>

                <li>{% ch '>> ' %}<a href='http://susansenator.com/makingpeace.html'>My wife's books</a><br>
                    <a href='http://susansenator.com/makingpeace.html'>
                        <img src='/pix/makingpeacetiny.png' alt='Making Peace With Autism' width='83' height='127' style='margin: 10px 0 0 0'>
                    </a>
                    <a href='http://susansenator.com/survivalguide.html'>
                        <img src='/pix/survivalguidetiny.png' alt='Autism Mom&#39;s Survival Guide' width='86' height='121' style='margin: 10px 0 0 0'>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}

        {% if moreblog %}
        <li class='inline'><label>Stay current: </label>
            <ul class='compact'>
                <li><a href='/blog/rss.xml' type='application/rss+xml'>RSS&nbsp;feed</a></li>
                <li><a href='https://blogtrottr.com/?subscribe=https://nedbatchelder.com/blog/rss.xml'>by&nbsp;email</a></li>
            </ul>
        </li>

        <li class='inline'><label>More blog: </label>
            <nav>
                <ul class='tight'>
                    {% for link in moreblog %}
                    <li>
                        <a href='{{link.link}}'>{{link.text|lower|safe}}</a>
                    </li>
                    {% endfor %}
                    <li><a href='/blog/tags.html'><i>all tags</i></a></li>
                    <li><a href='#' class='thisdate'>this date</a></li>
                    <li><a href='/blog/archive/all.html'><b><i>everything!</i></b></a></li>
                </ul>
            </nav>
        </li>
        {% endif %}

        {% if rss %}
        <li><a
                href='/blog/rss.xml'
                type='application/rss+xml'
                style='
                    padding: 0 .4em;
                    background: #F60;
                    color: white;
                    border: 1px solid;
                    border-color: #FC9 #630 #330 #F96;
                    font-weight: bold;
                    text-decoration: none;
                    '
                >RSS</a>
            </li>
        {% endif %}

    </ul>
</div>
{% endspaceless %}
{% endif %}
