{% extends "blogbase.html" %}
{% load tags %}

{% block body %}
    {% if entries %}
        {% if tag.description %}
            {{tag.description_html|safe}}
        {% endif %}

        <p>
            {% if entries|length == 1 %}
                This is the only blog post
            {% else %}
                These are the {{entries|length}} blog posts
            {% endif %}
            {% if tag %}
                about {{tag.about}}:
            {% else %}
                with no tags:
            {% endif %}
        </p>

        <div class='category'>
            {% for entry in entries %}
                <p class='date'>{{entry.when|date:"j M Y"}}:</p>

                {% reallyspaceless %}
                <p>
                    <a href='{{entry.permaurl}}'>{{entry.title}}</a>
                    {% if entry.tags.all.1 %}
                        {# The anonymous spans here are to force spacelessness so that we can control the nbsp stuff... #}
                        {# reallyspaceless doesn't mean what I thought, and maybe that should be fixed some day! #}
                        <span class='also'>{% ch ' _' %}also:{% ch ' ' %}<span>
                            {% for tag_other in entry.tags.all %}
                                {% if tag.tag != tag_other.tag %}
                                    <span>{% ifnotfirst %}{% ch '_' %}{% endifnotfirst %}
                                    <a href='{{tag_other.permaurl}}'>#{{tag_other.hashtag}}</a>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </span></span>
                    {% endif %}
                </p>
                {% endreallyspaceless %}
            {% endfor %}
        </div>
    {% else %}
        <p class='first'>That's funny, I could've sworn I had some entries tagged #{{tag.hashtag}}...</p>
    {% endif %}

    {% if tag.related.all %}
    <p>These tags are related:</p>
    <ul>
        {% for reltag in tag.related.all %}
            <li><a href='{{reltag.permaurl}}'>#{{reltag.hashtag}}</a>, about {{reltag.about}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>
        {% if tag %}
            Didn't find what you were looking for?
            <a href='/site/search.html'>Search this site</a> with Google.
        {% else %}
            What better way to conquer the chaos of untagged posts than by
            <a href='/site/search.html'>searching this site</a> with Google?
        {% endif %}
    </p>

{% endblock %}
