// Definitions for use everywhere.

// Debugging options: yes or no
$debug-structure: no;
$debug-links: no;

// Global constants

$gray: #595959;

$me-font: "PT Serif", Georgia, serif;
$them-font: verdana, sans-serif;
$code-font: Menlo, "courier new", monospace;

@import 'debug_structure';

// Common simplifying rules

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 1em 0;
}

img {
    border: none;
}


//

@if $debug-links == yes {
    a {
        background: lime;
    }
}

@mixin inside-link {
    @if $debug-links == yes {
        background: pink;
    }
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
        color: red;
    }
}
