// Definitions for use everywhere.

// Debugging options: yes or no
$debug-structure: no;
$debug-links: no;

// Global constants

$gray: #595959;

// PT Serif for body text. Source Serif has no italic, Merriweather is wider and has old-style numerals.
$me-font: "PT Serif NB", Georgia, serif;
$them-font: "Source Sans Pro", Verdana, sans-serif;
$code-font: Menlo, "courier new", monospace;

$magnifier-size: 22px;

@import 'debug_structure';

@font-face {
  font-family: 'PT Serif NB';
  font-style: normal;
  font-weight: 700;
  src: local('PTSerif-NB-Bold'), url(/files/PTSerif-NB-Bold.woff2) format('truetype');
}
@font-face {
  font-family: 'PT Serif NB';
  font-style: italic;
  font-weight: 700;
  src: local('PTSerif-NB-BoldItalic'), url(/files/PTSerif-NB-BoldItalic.woff2) format('truetype');
}
@font-face {
  font-family: 'PT Serif NB';
  font-style: italic;
  font-weight: 400;
  src: local('PTSerif-NB-Italic'), url(/files/PTSerif-NB-Italic.woff2) format('truetype');
}
@font-face {
  font-family: 'PT Serif NB';
  font-style: normal;
  font-weight: 400;
  src: local('PTSerif-NB-Regular'), url(/files/PTSerif-NB-Regular.woff2) format('truetype');
}

// Common simplifying rules

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 1em 0;
}

img {
    border: none;
}

//

@if $debug-links == yes {
    a {
        background: lime;
    }
}

// A link among pages on the site that should be subtle.
@mixin inside-link {
    @if $debug-links == yes {
        background: pink;
    }
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
        color: red;
    }
}
