// Definitions for use everywhere.

// Debugging options: yes or no
$debug-structure: no;
$debug-links: no;

// Political changes
$mourning: no;

// Mixins for defining specifics of light mode and dark mode.

@mixin lightmode {
    @content;
    @media (prefers-color-scheme: dark) {
        html.othermode & {
            @content;
        }
    }
}

@mixin darkmode {
    @media (prefers-color-scheme: dark) {
        @content;
    }
    @media (prefers-color-scheme: light) {
        html.othermode & {
            @content;
        }
    }
}

body {
    @include lightmode {
        --bg-color: white;
        @if $mourning == yes {
            --thick-border-color: #000;
        }
        @else {
            --thick-border-color: #999;
        }
        --sidebar-bg-color: #eee;
        --blockquote-bg-color: #f0f0f0;
        --fg-color: black;
        --footer-fg-color: #333;
        --inside-link-color: red;
        --info-text-color: #595959;
        --link-color: #00a;
        --link-hover-color: #00f;
        --green-bg: #e8ffe8;
        --red-bg: #fcc;
        --light-edge: #ccc;
        --dark-edge: #999;
        --tint-border: #00000080;
    }

    @include darkmode {
        --bg-color: #1F1F1F;
        @if $mourning == yes {
            --thick-border-color: #000;
        }
        @else {
            --thick-border-color: #080808;
        }
        --sidebar-bg-color: #101010;
        --blockquote-bg-color: #2C2C2C;
        --fg-color: #eeeeee;
        --footer-fg-color: var(--fg-color);
        --inside-link-color: #f88;
        --info-text-color: #aaa;
        --link-color: #fff2aa;
        --link-hover-color: #eee;
        --green-bg: #325541;
        --red-bg: #844;
        --light-edge: #666;
        --dark-edge: #000;
        --tint-border: #ffffff66;
    }

    color-scheme: light dark;
}

@mixin colors($bgcolor, $fgcolor: --fg-color) {
    background: var($bgcolor);
    color: var($fgcolor);
}

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$me-font: "STIX Two Text", Georgia, serif;
$text-line-height: 1.3em;
$minus-text-line-height: -1.3em;
$them-font: "Source Sans Pro", Verdana, sans-serif;
$code-font: Menlo, monospace;

$magnifier-size: 22px;

@import 'debug_structure';

// Common simplifying rules

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 1em 0;
}

img {
    border: none;
}

//

@if $debug-links == yes {
    a {
        background: lime;
    }
}

// A link among pages on the site that should be subtle.
@mixin inside-link {
    @if $debug-links == yes {
        background: pink;
    }
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
        color: var(--inside-link-color);
    }
}
