// Definitions for use everywhere.

// Debugging options: yes or no
$debug-structure: no;
$debug-links: no;

// Political changes
$mourning: yes;

// Mixins for defining specifics of light mode and dark mode.

@mixin lightmode {
    @content;
    @media (prefers-color-scheme: dark) {
        html.othermode & {
            @content;
        }
    }
}

@mixin darkmode {
    @media (prefers-color-scheme: dark) {
        @content;
    }
    @media (prefers-color-scheme: light) {
        html.othermode & {
            @content;
        }
    }
}

body {
    @include lightmode {
        --bg-color: white;
        --sidebar-bg-color: #eee;
        --blockquote-bg-color: #f0f0f0;
        --fg-color: black;
        --footer-fg-color: #333;
        --inside-link-color: red;
        --info-text-color: #595959;
        --link-color: #00a;
        --link-hover-color: #00f;
        --green-bg: #cfd;
        --red-bg: #fcc;
        --light-edge: #ccc;
        --dark-edge: #999;
        --tint-border: #00000080;
    }

    @include darkmode {
        --bg-color: #1F1F1F;
        --sidebar-bg-color: var(--bg-color);
        --blockquote-bg-color: #2C2C2C;
        --fg-color: #eeeeee;
        --footer-fg-color: var(--fg-color);
        --inside-link-color: #f88;
        --info-text-color: #aaa;
        --link-color: #fff2aa;
        --link-hover-color: #eee;
        --green-bg: #325541;
        --red-bg: #844;
        --light-edge: #666;
        --dark-edge: #000;
        --tint-border: #ffffff66;
    }

    color-scheme: light dark;
}

@mixin colors($bgcolor, $fgcolor: --fg-color) {
    background: var($bgcolor);
    color: var($fgcolor);
}

// PT Serif for body text. Source Serif has no italic, Merriweather is wider and has old-style numerals.
$me-font: "PT Serif NB", Georgia, serif;
$them-font: "Source Sans Pro", Verdana, sans-serif;
$code-font: Menlo, "courier new", monospace;

$magnifier-size: 22px;

@import 'debug_structure';

@font-face {
  font-family: 'PT Serif NB';
  font-style: normal;
  font-weight: 700;
  src: local('PTSerif-NB-Bold'), url(/files/PTSerif-NB-Bold.woff2) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'PT Serif NB';
  font-style: italic;
  font-weight: 700;
  src: local('PTSerif-NB-BoldItalic'), url(/files/PTSerif-NB-BoldItalic.woff2) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'PT Serif NB';
  font-style: italic;
  font-weight: 400;
  src: local('PTSerif-NB-Italic'), url(/files/PTSerif-NB-Italic.woff2) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'PT Serif NB';
  font-style: normal;
  font-weight: 400;
  src: local('PTSerif-NB-Regular'), url(/files/PTSerif-NB-Regular.woff2) format('truetype');
  font-display: swap;
}

// Common simplifying rules

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 1em 0;
}

img {
    border: none;
}

//

@if $debug-links == yes {
    a {
        background: lime;
    }
}

// A link among pages on the site that should be subtle.
@mixin inside-link {
    @if $debug-links == yes {
        background: pink;
    }
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
        color: var(--inside-link-color);
    }
}
