/*! Style for nedbatchelder.com main page. !*/

$left-width: 25%;
$main-break: 760px;

@import 'globals';
@import 'debug_structure';

* {
    box-sizing: border-box;
}

body {
    font-family: $me-font;
    font-size: 120%;
    background: white;
    padding: 1em;
    line-height: 1.5em;
}

#star {
    display: none;
}

#pagetitle {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap;

    h1 {
        padding-right: 1em;
    }

    .top_areas {
        text-align: right;
        margin: .5em 0 0 0;
    }
}

@media (min-width: $main-break) {
    body {
        margin: 0 1em 1em 0;
        padding: 0;
    }

    #star {
        display: block;
        background: url(/pix/dodeca3_640.jpg) no-repeat bottom right;
        height: 40vw;
        background-size: 50vw;
        margin: 0 -4em 0 -1em;
    }

    #content {
        position: absolute;
        top: 0px;
        left: $left-width;
        padding: 3em 1em 2em 2em;
        max-width: 40em;
        z-index: 10;
    }

    .sidebar {
        width: $left-width;
        padding: 0 1em;
        font-size: 85%;
        line-height: 1.5em;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 1em 0;
}

h1 {
    font-size: 150%;
    border: none;
    margin: 0;
}

@media (min-width: $main-break) {
    h1 {
        font-size: 180%;
    }
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 100%;
    margin: 1em 0 0 0;
    color: #000;
}

img {
    border: 0;
}

.searchflex {
    display: inline-flex;
    flex-flow: row;
    max-width: 15rem;
    height: 1.5em;
    * {
        flex: 0 auto;
    }
    .searchbox {
        flex: 1 0px;
        border: 1px solid #7e9db9;
        border-radius: 2px;
        width: 100%;
        padding: 2px;
    }
    #submit {
        margin-left: .25em;
        height: 100%;
    }
}

.first {
    margin-top: 0;
}

.thinspace {
    font-size: 66%;
}

.blog-entry h3, .section h3, .oneline h3 {
    display: inline;
}

.blog-entry p.date, .huh {
    display: inline;
    margin: 0 0 0 1em;
    color: $gray;
}

.oneline {
    margin: 1em 0;
    p {
        display: inline;
    }
}

.section {
    margin-top: 2em;
}

.subsection {
    margin-top: 1em;
}

.readmore {
    color: $gray;
    font-style: italic;
    a {
        text-decoration: none;
        color: $gray;
        &:hover {
            text-decoration: underline;
            color: #f00;
        }
    }
}

span.readmore {
    margin: 0 0 0 .5em;
}

p.readmore {
    margin: 0;
}

a {
    &.s {
        text-decoration: none;
        color: #000;
        &:hover {
            text-decoration: underline;
            color: #f00;
        }
    }
    text-decoration: none;
    color: #008;
    &:hover {
        text-decoration: underline;
        color: #00f;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

$list-indent: 1em;

li {
    &:before {
        content: "▫";
        display: inline-block;
        width: $list-indent;
        color: $gray;
        text-indent: 0;
    }

    margin: 0 0 0 $list-indent;
    padding: 0;
    text-indent: -$list-indent;
    .readmore {
        margin: 0;
    }
    p {
        margin: 0;
        padding: 0;
    }
}

#search h3 {
    display: inline;
    margin: 0 1em 0 0;
}

.copyright {
    color: $gray;
    font-style: italic;
    font-size: 85%;
    a {
        text-decoration: none;
        color: $gray;
        &:hover {
            text-decoration: underline;
            color: $gray;
        }
    }
}
