/*! Style for nedbatchelder.com main page. !*/

$left-width: 25%;
$main-break: 760px;

@import 'common';

body {
    font-family: $me-font;
    font-size: 100%;
    @media (min-width: 18em) {
        font-size: 110%;
    }
    @media (min-width: 28em) {
        font-size: 120%;
    }
    @include colors(--bg-color);
    padding: 1em;
    line-height: 1.5em;
}

#star {
    display: none;
}

#pagetitle {
    padding: 0.5em 0;
    @if $mourning == yes {
        border-bottom: 15px solid #333;
        @include lightmode {
            border-bottom-color: #333;
        }
        @include darkmode {
            border-bottom-color: #111;
        }
    }
    @else {
        border-bottom: 1px solid #ccc;
    }
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap;

    h1 {
        padding-right: 1em;
    }

    .top_areas {
        text-align: right;
        margin: .5em 0 0 0;
        word-spacing: .2em;
    }
}

@media (min-width: $main-break) {
    body {
        margin: 0 1em 1em 0;
        padding: 0;
    }

    #star {
        display: block;
        background: url(/pix/dodeca3_light_640.jpg) no-repeat bottom right;
        @include lightmode {
            background-image: url(/pix/dodeca3_light_640.jpg);
        }
        @include darkmode {
            background-image: url(/pix/dodeca3_dark_640.jpg);
        }
        height: 40vw;
        background-size: 50vw;
        margin: 0 -4em 0 -2em;
    }

    #content {
        position: absolute;
        top: 0px;
        left: $left-width;
        padding: 3em 1em 2em 2em;
        max-width: 40em;
        z-index: 10;
    }

    .sidebar {
        width: $left-width;
        padding: 0 1em 0 2em;
        font-size: 85%;
        line-height: 1.5em;
    }
}

h1 {
    font-size: 150%;
    border: none;
    margin: 0;
}

@media (min-width: $main-break) {
    h1 {
        font-size: 180%;
    }
}

h2 {
    font-size: 100%;
    display: inline;
    margin: 1em 0 0 0;
    .blog-entry & {
        margin-right: 1em;
    }
}

.searchflex {
    display: inline-flex;
    flex-flow: row;
    max-width: 15em;
    width: 100%;
    height: 1.5em;
    * {
        flex: 0 auto;
    }
    .searchbox {
        @include colors(--bg-color);
        flex: 1 0px;
        border: 1px solid #7e9db9;
        border-radius: 2px;
        width: 100%;
        padding: 2px;
    }
    input {
        &[type="image"] {
            @include lightmode {
                filter: none;
            }
            @include darkmode {
                filter: invert(1);
            }
        }
    }
    #submit {
        margin-left: .25em;
        height: 100%;
    }
}

.first {
    margin-top: 0;
}

.blog-entry p.date {
    display: inline;
    color: var(--info-text-color);
}

p.huh {
    display: inline;
    color: var(--info-text-color);
    &:before {
        content: " ·· ";
    }
}

.oneline {
    p {
        display: inline;
        &:before {
            content: " ·· ";
        }
    }
}

section {
    margin-top: 2em;

    section {
        margin-top: 1em;
    }
}

aside section {
    margin-top: 1em;
}

.readmore {
    color: var(--info-text-color);
    font-style: italic;
    a {
        @include inside-link;
    }
}

span.readmore {
    &:before {
        content: "\2002";   // EN SPACE
    }
}

p.readmore {
    margin: 0;
}

a {
    &.s {
        @include inside-link;
    }
    text-decoration: none;
    color: var(--link-color);
    &:hover {
        text-decoration: underline;
        color: var(--link-hover-color);
    }
}

.a-s a {
    @include inside-link;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

$list-indent: 1em;

li {
    &:before {
        content: "▫";
        display: inline-block;
        width: $list-indent;
        color: var(--info-text-color);
        text-indent: 0;
    }

    margin: 0 0 0 $list-indent;
    padding: 0;
    text-indent: -$list-indent;
    .readmore {
        margin: 0;
    }
    p {
        margin: 0;
        padding: 0;
    }
}

#search h2 {
    margin: 0 1em 0 0;
}

.copyright {
    color: var(--info-text-color);
    font-style: italic;
    font-size: 85%;
    margin-bottom: 0;
    a {
        @include inside-link;
    }
}

// No print styles needed! The narrow look is good for print.
