/*! Style sheet for nedbatchelder.com !*/

$color-scheme: white;   // white, or gaudy for debugging.

$logo-size-small: 2.75rem;
$logo-size-large: 10rem;
$banner-height-small: $logo-size-small;
$banner-height-large: 4rem;
$footer-height: 3rem;
$thick-border-small-horz: 3px;
$thick-border-small-vert: 1px;
$thick-border-large-horz: 3px;
$thick-border-large-vert: 3px;
$outer-border-large: 5px;

$narrow-break: 48em;
$tiny-break: 25em;
$comment-break: 32em;

@import 'common';

@if $mourning == yes {
    $outer-border-large: 12px;
    $thick-border-large-horz: 6px;
    $thick-border-large-vert: 6px;
    $thick-border-small-horz: 20px;
}

/*
http://fvsch.com/code/em-alternatives/

font-size: calc(1rem + .25vw + .25vh);

Bottom line: don’t mix and match layout dimensions. Either go full pixels (for
the main layout and media queries, not for text and not necessarily for padding
etc.) or full text-relative (em in media queries, rem or em for block widths).

also: http://fvsch.com/code/css-locks/ "CSS Locks"
http://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/

*/

body {
    font-family: $me-font;
    margin: 0 auto 1rem;
    padding: 0;
    @if $color-scheme == gaudy {
        background-color: red;
    }
    @else {
        background-color: var(--thick-border-color);
    }
    max-width: 55rem;
    display: flex;
    flex-flow: row wrap;

    > * {
        padding: .5rem;
        flex: 1 100%;
        border: 0 solid var(--thick-border-color);
    }
}

// Major page components.

#content {
    @if $color-scheme == gaudy {
        background: lighten(#09ca16, 30%);
    }
    @else {
        @include colors(--bg-color);
    }

    font-size: 110%;
    text-align: left;
    max-width: 100%;
    hyphens: manual;

    a {
        &.s {
            @include inside-link;
        }
        color: var(--link-color);
        &:hover {
            color: var(--link-hover-color);
        }
    }
}

#sidebar {
    @if $color-scheme == gaudy {
        background: lighten(#86dbf3, 10%);
    }
    @else {
        @include colors(--sidebar-bg-color);
    }

    border-width: $thick-border-small-horz 0 0 0;
    margin-top: 0;

    a {
        @include inside-link;
    }

    font-weight: normal;
    font-size: 85%;
    line-height: 1.1em;
    text-align: left;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        li {
            font-size: 100%;
            font-weight: bold;
            margin-top: 1.5em;
            margin-bottom: 0;
            &.first {
                margin-top: 0;
            }
            ul {
                li {
                    font-weight: normal;
                    margin-top: .8em;
                }
                &.compact {
                    font-weight: normal;
                    margin-top: .4em;
                    li {
                        font-weight: normal;
                        margin-top: .4em;
                    }
                }
            }
            &.inline {
                display: inline-block;
                margin-top: 1em;
                label {
                    padding-right: .25em;
                }
                nav {
                    display: inline;
                }
                ul {
                    display: inline;
                    font-weight: normal;
                    line-height: 1.4em;
                    li {
                        display: inline;
                        &:after {
                            content: "\00A0\00B7\0020";  // nbsp mid-dot space
                        }
                        &:last-child:after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}

#logo {
    position: absolute;
    padding: 0;
    width: calc(#{$logo-size-small} + #{$thick-border-small-vert});
    height: calc(#{$logo-size-small} + #{$thick-border-small-horz});
    @if $color-scheme == gaudy {
        background: red;
    }
    @else {
        background: var(--bg-color);
    }
    text-align: center;
    border-width: 0 $thick-border-small-vert $thick-border-small-horz 0;

    @include lightmode {
        background-image: url(/pix/dodeca3_light_60.jpg);
    }
    @include darkmode {
        background-image: url(/pix/dodeca3_dark_60.jpg);
    }
    background-size: contain;

    a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }
}

#banner {
    min-height: calc(#{$banner-height-small} + #{$thick-border-small-horz});
    margin-left: calc(#{$logo-size-small} + #{$thick-border-small-vert});
    @if $color-scheme == gaudy {
        background: lighten(yellow, 30%);
    }
    @else {
        @include colors(--sidebar-bg-color);
    }
    border-bottom-width: $thick-border-small-horz;
    text-align: left;
    font-size: 85%;
    vertical-align: middle;
}

#footer {
    padding: 0 .5rem;
    border-top-width: $thick-border-small-horz;
    @media (min-width: $narrow-break) {
        height: $footer-height;
    }
    text-align: left;
    @if $color-scheme == gaudy {
        background: lighten(#be5fc6, 30%);
    }
    @else {
        @include colors(--sidebar-bg-color, --footer-fg-color);
    }

    font-size: 85%;
    font-style: italic;
    margin-bottom: 0;
    a {
        @include inside-link;
    }

    .sitetools {
        word-spacing: .125em;
        @media (min-width: $tiny-break) {
            text-align: right;
            float: right;
        }

        .othermode-switch {
            display: none;
            @include lightmode {
                display: inline;
            }
            @include darkmode {
                display: inline;
            }
            &:after {
                content: "\00A0\00B7\0020";  // nbsp mid-dot space
            }
            .btn {
                padding: .1em .5em;
                border-radius: .33em;
                cursor: pointer;
                @include colors(--fg-color, --bg-color);

                &.light {
                    @include lightmode {
                        display: none;
                    }
                    @include darkmode {
                        display: inline;
                    }
                }

                &.dark {
                    @include lightmode {
                        display: inline;
                    }
                    @include darkmode {
                        display: none;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: $narrow-break) {
    body {
        // larger sizes can have a fancy background.
        @include lightmode {
            background: url(pix/hilbert.png);
        }
        @include darkmode {
            background: #080808;
        }
        border: $outer-border-large solid var(--thick-border-color);

        > * {
            border: 0 solid var(--thick-border-color);
        }
    }

    #logo {
        @include lightmode {
            background-image: url(/pix/dodeca3_light_200.jpg);
        }
        @include darkmode {
            background-image: url(/pix/dodeca3_dark_200.jpg);
        }
        width: $logo-size-large;
        height: $logo-size-large;
        border-width: 0 $thick-border-large-vert $thick-border-large-horz 0;
    }

    #banner {
        order: 2;
        font-size: 120%;
        margin-left: $logo-size-large;
        padding: .75rem 1.5rem;
        min-height: $banner-height-large;
        border-bottom-width: $thick-border-large-horz;
    }

    #sidebar {
        order: 3;
        width: $logo-size-large;
        margin-top: $logo-size-large - $banner-height-large;
        margin-bottom: -$footer-height;
        flex: 0 $logo-size-large;
        border-width: 0 $thick-border-large-vert 0 0;
    }

    #content {
        order: 4;
        flex: 1 0;
        border-width: 0;
        padding: 1.5rem;
        max-width: calc(100% - 10rem);
    }

    #footer {
        order: 5;
        margin-left: $logo-size-large;
        padding: 0 1rem;
        border-top-width: $thick-border-large-horz;
    }
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
}

td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.dn {
    display: none !important;
}

p {
    &.figure {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        > .aspect {
            flex: 1 100%;
        }
    }

    &.figure, &.bulletsep {
        text-align: center;
        max-width: 32em;    // about 560px
        margin: 1em auto;
    }

    &.figure img {
        margin: 0;
        @media (min-width: $tiny-break) {
            margin: .1em .25em;
        }
    }

    &.youtube {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            background: transparent url(/pix/youtube-overlay.svg) center center no-repeat;
            background-size: 15%;
            top: 0;
            left: 0;
            pointer-events: none;
        }
        &:hover:after {
            background-size: 18%;
        }
    }
}

#menu {
    p, li, blockquote {
        line-height: 1.1em;
    }
}

li blockquote {
    font-size: 100%;
    &.code {
        font-size: 100%;
    }
}

h1[id]:hover a.headerlink:after, h2[id]:hover a.headerlink:after, h3[id]:hover a.headerlink:after {
    content: "\00A0\00B6";      // space-pilcrow
}

a.headerlink {
    color: #888;
    text-decoration: none;
}

.first {
    margin-top: 0;
}

.thinspace {
    font-size: 66%;
}

.tight {
    word-spacing: -.05em;
}

.body {
    line-height: 1.4em;

    // H1's have a line underneath them.
    h1 {
        font-size: 100%;
        border-bottom: 1px solid silver;
    }

    h2 {
        font-size: 100%;
    }

    // H3's are run-in with the text.
    h3 {
        font-size: 100%;
        display: inline;
        line-height: 1.4em;
        float: left;
        margin: 0 1.4em 0 0;
    }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        &.noborder {
            border-width: 0;
            th, td {
                border-width: 0;
            }
        }
    }
    td {
        border: 1px solid #ccc;
        padding: .25em .5em;
    }
    th {
        border: 1px solid #ccc;
        border-bottom: 1px solid #999;
        padding: .25em .5em;
    }
    #comments td {
        border-width: 0;
    }
    img {
        &.floatimg {
            float: left;
            margin: 0 1.5em .8em 0;
            &.right {
                float: right;
                margin: 0 0 .8em 1.5em;
            }
        }
        &.hairline {
            border: 1px solid #ddd;
        }
        &.thinline {
            border: 1px solid #888;
        }
    }
}

.dateline {
    margin-top: 0;
    text-align: right;
    font-size: 85%;
    font-style: italic;
    color: var(--info-text-color);
}

.docinfo {
    margin-top: 0;
    margin-left: 35%;
    width: 65%;
    text-align: right;
    font-size: 85%;
    font-style: italic;
    color: var(--info-text-color);
}

ul {
    margin-top: .5em;
    margin-bottom: .5em;
    list-style-type: square;
}

li {
    margin-bottom: .4em;
}

ul li ul {
    margin-top: .5em;
}

dl {
    margin-top: .5em;
    margin-bottom: .5em;
}

dt, dd {
    margin-bottom: .4em;
}

.aspect {
    // https://benmarshall.me/responsive-iframes/
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    margin: auto;

    &.aspect-16x9 {
        padding-bottom: percentage(9/16);
    }

    &.aspect-4x3 {
        padding-bottom: percentage(3/4);
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.searchform {
    margin-top: 6px;
    display: inline-flex;
    margin-left: .5em;
    width: 100%;
    max-width: 15em;

    label {
        display: inline-block;
        margin: 0 .5em .25em 0;
    }

    @media (min-width: $narrow-break) {
        display: flex;
        margin-left: 0;
    }

    input {
        &[type="image"] {
            @include lightmode {
                filter: none;
            }
            @include darkmode {
                filter: invert(1);
            }
        }
    }
}

input {
    &.searchbox {
        background: var(--bg-color);
        color: var(--fg-color);
        border: 1px solid #7e9db9;
        border-radius: 2px;
        padding: 2px;
        flex: 1;
        height: $magnifier-size;

        @media (min-width: $narrow-break) {
            max-width: 7rem;
            margin-left: 0;
        }
    }
}

a.s {
    @include inside-link;
}

.headslug {
    font-size: 170%;
    font-weight: bold;
    line-height: 150%;
    margin: 0 0 0 0;
}

#banner .path {
    margin: .25em 0 -1em 0;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    text-transform: lowercase;
    a {
        @include inside-link;
    }
    .top_areas {
        text-align: right;
        width: 100%;
        .plaindot {
            display: none;
        }
        .blm {
            background: black;
            color: yellow;
            font-weight: bold;
            padding: .25em .5em;
            margin-left: .25em;
            @media (min-width: $narrow-break) {
                margin-right: -.5em;
            }
            border-radius: 2px;
        }
    }

    .home {
        font-weight: bold;
    }
    // A too-cute way to have the header work at ultra-narrow sizes.
    .chelder {
        display: none;
    }
    @media (min-width: $narrow-break) {
        .top_areas {
            font-size: 85%;
        }
    }
    @media (min-width: $tiny-break) {
        word-spacing: .125em;
        text-transform: none;
        .chelder {
            display: inline;
        }
    }
}

#content .blog-entry {
    header {
        padding-bottom: .2em;
        margin-bottom: 0;
    }
    footer {
        font-size: 85%;
        color: var(--info-text-color);
        font-style: italic;
        border-bottom: solid 1px silver;
        padding-bottom: 12pt;
        margin-bottom: 6pt;
        a {
            @include inside-link;
        }
    }
    .title {
        margin: 0;
        font-size: 115%;
        font-weight: bold;
        display: block;
        float: none;
    }
    .date {
        font-size: 85%;
        color: var(--info-text-color);
        margin: 0;
        padding: 0;
        a.s {
            color: var(--info-text-color);
        }
    }
    p {
        clear: both;
    }
    .via {
        display: block;
        @media (min-width: $tiny-break) {
            display: inline;
            float: right;
        }
    }
    .react {
        display: block;
        @media (min-width: $tiny-break) {
            display: inline;
        }
    }
}

/* Archive page: make the dates hang left to align all the titles. */

#content div.archive {          // can't be just ".archive" because of body.archive
    a {
        @include inside-link;
    }
    p {
        font-size: 100%;
        margin: 0 0 0 5.5em;
        line-height: 1.4em;
        &.date {
            width: 5em;
            text-align: right;
            padding: 0;
            margin: 0 0 -1.4em 0;
            color: var(--info-text-color);
        }
    }
}

/* Category page: Like archive, but the dates are wider. */

#content .category {
    a {
        @include inside-link;
    }
    p {
    font-size: 100%;
        margin: 0 0 0 8.5em;
        line-height: 1.4em;
        &.date {
            width: 8em;
            text-align: right;
            padding: 0;
            margin: 0 0 -1.4em 0;
            color: var(--info-text-color);
        }
    }
}

#content .catlist {
    a {
        @include inside-link;
    }
    p {
        margin: 0 0 0 10.5em;
        line-height: 1.4em;
        &.catname {
            padding: 0;
            margin: 0 0 -1.4em 0;
            width: 10em;
            text-align: right;
            font-weight: bold;
        }
    }
}

.also {
    font-size: 85%;
    color: var(--info-text-color);
    font-style: italic;
    text-decoration: none;
}

/* Block quotes */

blockquote {
    font-size: 100%;
    margin: 1em;
    border-left: 1px solid var(--light-edge);
    padding: 0;
    @include colors(--blockquote-bg-color);
    div {
        margin: 0;
        padding: .3em 1em .1em 1em;
        p {
            margin: .4em 0;
        }
        ol, ul {
            margin: .4em 0;
            padding-left: 1.5em;
        }
    }

}

pre {
    margin: 0;
    font-size: 70%;
    line-height: 130%;
    font-family: $code-font;
    // The code blocks weren't respecting widths, and making scroll bars.
    // Matt Rothenberg suggested width:1px, which fixed it.
    //   width: 1px;
}

blockquote.code {
    padding: .3em;
    border: none;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 1;
    span.linenos {
        display: inline-block;
        width: 3em;
        color: #888;
    }
}

.code {
    a {
        text-decoration: none;
    }
    p.name {
        text-align: right;
        font-style: italic;
        margin: 0 0 -1em 0;
        padding: 0;
    }
    span.lineno {
        display: inline-block;
        width: 2.5em;
        color: #888;
        font-size: 80%;
        text-align: right;
        border-right: 1px solid #bbb;
        padding: 0 .5em 0 0;
        margin: 0 .5em 0 0;
    }

    @include lightmode {
        background-color: var(--blockquote-bg-color);
        filter: none;
    }
    @include darkmode {
        background-color: #ddd;
        filter: invert(1) brightness(150%);
    }

    color: #000;

    /* Code styling.  There are a lot of different styles! */
    .hll {
        background-color: #ffffcc;
    }
    .c {
        color: #008000;
    }
    /* When the syntax highlighter gets confused, don't show the customers...
    .err {
        border: 1px solid #FF0000;
    }
    */
    .k, .nb {
        color: #000080;
        font-weight: bold;
    }
    .cm {
        color: #008000;
    }
    .cp {
        color: #0000ff;
    }
    .c1, .cs {
        color: #008000;
    }
    .ge {
        font-style: italic;
    }
    .gh, .gp, .gs, .gu {
        color: black;
        font-weight: bold;
    }
    .console .gp {
        // Command prompts. Make them visible, and make them separate the
        // commands a bit.
        font-size: 1.1em;
        line-height: 1.75;
    }
    .kc, .kd, .kn, .kp, .kr {
        color: #0000ff;
    }
    .kt {
        color: #2b91af;
    }
    .s {
        color: #a31515;
    }
    .nc {
        color: #2b91af;
    }
    .ow {
        color: #0000ff;
    }
    .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
        color: #a31515;
    }
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    background: white;
    color: black;
    border: 0;
    .inner {
        padding: 0 1em.5em 1em;
        border: 1px solid #ddd;
        border-radius: 1em;
        font-family: sans-serif;
        a {
            text-decoration: none;
            color: #00a !important;
        }
    }
}

code, tt {
    font-size: 80%;
    font-family: $code-font;
    @include colors(--blockquote-bg-color);
    padding: 0 .2em;
    border-radius: 2px;
}

.box {
    border: 1px solid;
    border-color: var(--light-edge) var(--dark-edge) var(--dark-edge) var(--light-edge);
    padding: .3em .6em;
    @include lightmode {
        background-color: #ffc;
    }
    @include darkmode {
        background-color: #3c3f34;
    }
}

img {
    max-width: 100%;
    height: auto;
    align-self: flex-start; /* https://stackoverflow.com/a/61196907/14343 */
    @include lightmode {
        filter: none;
    }
    @include darkmode {
        filter: grayscale(50%);
    }
}

.tweet a {
    &.user, &.date {
        text-decoration: none;
        color: inherit;
    }
    &.user:hover, &.date:hover {
        text-decoration: underline;
        color: inherit;
    }
}

#commentform {
    margin-top: 6pt;
    border-top: solid 1px #eee;
    padding-top: 0;
}

#comments {
    @include lightmode {
        --button-bg-color: #eee;
        --border-color: #eee;
        --input-top-edge: #666;
        --input-bottom-edge: #ccc;
    }
    @include darkmode {
        --button-bg-color: #666;
        --border-color: #888;
        --input-top-edge: #999;
        --input-bottom-edge: #666;
    }

    $label-width: 7em;
    $label-gutter: .5em;

    font-family: $them-font;
    font-size: 90%;
    line-height: 1.5em;
    h1 {
        border: none;
        border-radius: 3px;
        margin: 0;
        padding: 1em;
        background: var(--blockquote-bg-color);
    }
    h2 {
        border: none;
        margin: 0;
        padding: 1em 0 .5em 0;
        font-style: italic;
        font-weight: normal;
    }

    form div {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-top: .5em;

        &.finish {
            justify-content: flex-end;
        }

        &.preview {
            display: block;
            div {
                display: block;
            }
        }
    }

    .notice {
        color: var(--info-text-color);
        font-style: italic;
        margin: .5em 0;

        &.right {
            text-align: right;
        }
        @media (min-width: $comment-break) {
            margin-left: $label-width;
            padding-left: $label-gutter;
        }
    }
    label {
        flex: 0 0 $label-width;
        color: var(--info-text-color);

        &.check {
            flex: 1 0 auto;
            text-align: left;
            @media (min-width: $comment-break) {
                margin-left: $label-width;
                padding-left: $label-gutter;
            }
        }
        @media (min-width: $comment-break) {
            text-align: right;
            margin-right: $label-gutter;
            margin-top: .2em;
        }
    }

    input {
        &.edit {
            @include colors(--bg-color);
            font-size: 100%;
            flex: 1 0 0;
            max-width: 30em;
            border: 1px solid #888;
            border-color: var(--dark-edge) var(--light-edge) var(--light-edge) var(--dark-edge);
            padding-left: .15em;
        }

        &[type="submit"] {
            padding: .5em 1em;
            border: 1px solid #888;
            border-radius: 4px;
            cursor: pointer;
            @include colors(--button-bg-color);
        }

        &[type="checkbox"] {
            width: auto;
        }

        &#submit {
            width: $magnifier-size;
            height: $magnifier-size;
        }
    }

    textarea {
        @include colors(--bg-color);
        font-family: $them-font;
        font-size: 100%;
        flex: 1 0 0;
        max-width: 30em;
        padding: .25em .3em;
    }

    .comment {
        font-family: $them-font;
        border-top: solid 1px var(--border-color);
        padding: .5em 10pt 0 50px;
        margin-top: .5em;
        overflow: auto;
        &.preview {
            @include colors(--green-bg);
            border: 1px solid var(--tint-border);
            border-radius: 3px;
            padding: .5em 10pt 0 60px;
        }
        .who {
            font-family: $them-font;
            float: left;
            a {
                color: var(--fg-color);
            }
        }
        .when {
            font-family: $them-font;
            float: right;
            font-size: 85%;
            color: var(--info-text-color);
            margin-top: 0;
            a {
                @include inside-link;
                color: var(--info-text-color);
            }
            .adminlink {
                display: inline-block;
                margin-right: .5em;
            }
        }
        .head {
            margin-top: 0;
            margin-bottom: 20pt;
        }
        img.gravatar {
            float: left;
            margin: 3px 0 0 -50px;
            border: 1px solid var(--tint-border);
            border-radius: 3px;
        }
        .commenttext {
            clear: right;
            word-wrap: break-word;

            pre code {
                font-size: 100%;
                background: none;
                padding: 0;
            }
        }
        pre {
            margin: 1em;
            max-width: 100%;
            overflow-x: scroll;
        }
    }

    .errormsg {
        background: var(--red-bg);
        padding: .25em .5em;
        border: 1px solid var(--tint-border);
        border-radius: 3px;
        margin: .5em 0;
    }
}

@media print {
    body, #banner, #footer {
        background: white;
        margin: 0;
    }
    #banner {
        border-bottom-width: 1px;
    }
    #footer {
        border-top-width: 1px;
    }
    #logo, #sidebar, #comments {
        display: none;
    }
    body.oneentry .blog-entry footer {
        border-bottom: 0;
        margin-bottom: 0;
    }
}
