/*! Style sheet for nedbatchelder.com !*/

$color-scheme: white;   // white, or gaudy for debugging.

$logo-size-small: 2.75rem;
$logo-size-large: 10rem;
$banner-height-small: $logo-size-small;
$banner-height-large: 4rem;
$copyright-height: 2.5rem;
$thick-border-small-horz: 3px;
$thick-border-small-vert: 1px;
$thick-border-large-horz: 3px;
$thick-border-large-vert: 3px;
$outer-border-large: 5px;

$narrow-break: 760px;
$tiny-break: 350px;

@import 'common';

/*
http://fvsch.com/code/em-alternatives/

font-size: calc(1rem + .25vw + .25vh);

Bottom line: don’t mix and match layout dimensions. Either go full pixels (for
the main layout and media queries, not for text and not necessarily for padding
etc.) or full text-relative (em in media queries, rem or em for block widths).

also: http://fvsch.com/code/css-locks/ "CSS Locks"
http://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/

*/

body {
    font-family: $me-font;
    margin: 0 auto;
    padding: 0;
    @if $color-scheme == gaudy {
        background-color: red;
    }
    @else {
        background-color: #999;
    }
    max-width: 55rem;
    display: flex;
    flex-flow: row wrap;

    > * {
        padding: 10px;
        flex: 1 100%;
        border: 0 solid #999;
    }
}

// Major page components.

#content {
    @if $color-scheme == gaudy {
        background: lighten(#09ca16, 30%);
    }
    @else {
        background: #fff;
    }
    font-size: 110%;
    text-align: left;
}

#sidebar {
    line-height: 1.1em;
    margin-top: 0;
    font-weight: bold;

    @if $color-scheme == gaudy {
        background: lighten(#86dbf3, 10%);
    }
    @else {
        background: #eee;
    }
    text-align: left;
    font-size: 85%;

    border-width: $thick-border-small-horz 0 0 0;

    a {
        @include inside-link;
    }
}

#logo {
    position: absolute;
    padding: 0;
    width: $logo-size-small;
    height: $logo-size-small;
    @if $color-scheme == gaudy {
        background: red;
    }
    @else {
        background: #fff;
    }
    text-align: center;
    border-width: 0 $thick-border-small-vert $thick-border-small-horz 0;

    background-image: url(/pix/dodeca3_640.jpg);
    background-size: contain;

    a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }
}

#banner {
    min-height: $banner-height-small;
    margin-left: $logo-size-small;
    @if $color-scheme == gaudy {
        background: lighten(yellow, 30%);
    }
    @else {
        background: #eee;
    }
    border-bottom-width: $thick-border-small-horz;
    text-align: left;
    font-size: 85%;
    vertical-align: middle;
}

#copyright {
    padding: 0 10px;
    border-top-width: $thick-border-small-horz;
    height: $copyright-height;
    text-align: left;
    @if $color-scheme == gaudy {
        background: lighten(#be5fc6, 30%);
    }
    @else {
        background: #eee;
    }
    color: black;
}

@media (min-width: $narrow-break) {
    body {
        // larger sizes can have a fancy background.
        background: url(pix/hilbert.png);
        border: $outer-border-large solid #999;

        > * {
            border: 0 solid #999;
        }
    }

    #logo {
        width: $logo-size-large;
        height: $logo-size-large;
        border-width: 0 $thick-border-large-vert $thick-border-large-horz 0;
    }

    #banner {
        order: 2;
        font-size: 120%;
        margin-left: $logo-size-large;
        padding: .75em 1.5em;
        min-height: $banner-height-large;
        border-bottom-width: $thick-border-large-horz;
    }

    #sidebar {
        order: 3;
        width: $logo-size-large;
        margin-top: $logo-size-large - $banner-height-large;
        margin-bottom: -$copyright-height;
        flex: 0 $logo-size-large;
        border-width: 0 $thick-border-large-vert 0 0;
    }

    #content {
        order: 4;
        flex: 1 0;
        border-width: 0;
        padding: 1.5em;
    }

    #copyright {
        order: 5;
        margin-left: $logo-size-large;
        border-top-width: $thick-border-large-horz;
    }
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
}

td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.dn {
    display: none !important;
}

p {
    &.figure, &.bulletsep {
        text-align: center;
        max-width: 32em;    // about 560px
        margin: auto;
    }

    &.figure img {
        margin: 0;
        @media (min-width: $tiny-break) {
            margin: .1em .25em;
        }
    }
}

#menu {
    p, li, blockquote {
        line-height: 1.1em;
    }
}

li blockquote {
    font-size: 100%;
    &.code {
        font-size: 100%;
    }
}

h1[id]:hover a.headerlink:after, h2[id]:hover a.headerlink:after, h3[id]:hover a.headerlink:after {
    content: "\00A0\00B6";      // space-pilcrow
}

a.headerlink {
    color: #888;
    text-decoration: none;
}

.first {
    margin-top: 0;
}

.thinspace {
    font-size: 66%;
}

.tight {
    word-spacing: -25%;
}

.body {
    line-height: 1.4em;

    // H1's have a line underneath them.
    h1 {
        font-size: 100%;
        border-bottom: 1px solid silver;
    }

    h2 {
        font-size: 100%;
    }

    // H3's are run-in with the text.
    h3 {
        font-size: 100%;
        display: inline;
        line-height: 1.4em;
        float: left;
        margin: 0 1.4em 0 0;
    }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        &.noborder {
            border-width: 0;
            th, td {
                border-width: 0;
            }
        }
    }
    td {
        border: 1px solid #ccc;
        padding: .25em .5em;
    }
    th {
        border: 1px solid #ccc;
        border-bottom: 1px solid #999;
        padding: .25em .5em;
    }
    #comments td {
        border-width: 0;
    }
    img {
        &.floatimg {
            float: left;
            margin: 0 1.5em .8em 0;
            &.right {
                float: right;
                margin: 0 0 .8em 1.5em;
            }
        }
    }
}

.copyright {
    font-size: 70%;
    font-style: italic;
    color: #333;
    margin-bottom: 0;
    a {
        @include inside-link;
    }
}

.dateline {
    margin-top: 0;
    text-align: right;
    font-size: 85%;
    font-style: italic;
    color: $gray;
}

.docinfo {
    margin-top: 0;
    margin-left: 35%;
    width: 65%;
    text-align: right;
    font-size: 85%;
    font-style: italic;
    color: $gray;
}

ul {
    margin-top: .5em;
    margin-bottom: .5em;
    list-style-type: square;
}

li {
    margin-bottom: .4em;
}

ul li ul {
    margin-top: .5em;
}

dl {
    margin-top: .5em;
    margin-bottom: .5em;
}

dt, dd {
    margin-bottom: .4em;
}

.aspect {
    // https://benmarshall.me/responsive-iframes/
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    margin: auto;

    &.aspect-16x9 {
        padding-bottom: percentage(9/16);
    }

    &.aspect-4x3 {
        padding-bottom: percentage(3/4);
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.searchform {
    margin-top: 0;
    display: inline;
    margin-left: .5em;

    label {
        display: inline-block;
        margin: 0 .5em .25em 0;
    }

    @media (min-width: $narrow-break) {
        display: block;
        margin-left: 0;
    }
}

.searchflex {
    display: inline-flex;
    flex-flow: row;
    max-width: 10rem;
    width: 100%;

    > * {
        flex: 0 auto;
    }

    > .searchbox {
        flex: 1 0;
    }
}

input {
    &[type="search"] {
        -webkit-appearance: textfield;
    }
    &.searchbox {
        border: 1px solid #7e9db9;
        border-radius: 2px;
        padding: 2px;
        width: 100%;
    }
}

.blogroll {
    font-weight: normal;
    line-height: 1.1em;
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        li {
            font-size: 100%;
            font-weight: bold;
            margin-top: 1.5em;
            margin-bottom: 0;
            &.first {
                margin-top: 0;
            }
            ul {
                li {
                    font-weight: normal;
                    margin-top: .8em;
                }
                &.compact {
                    font-weight: normal;
                    margin-top: .4em;
                    li {
                        font-weight: normal;
                        margin-top: .4em;
                    }
                }
            }
            &.inline {
                display: inline-block;
                margin-top: 1em;
                ul {
                    display: inline;
                    font-weight: normal;
                    line-height: 1.4em;
                    padding-left: .25em;
                    li {
                        display: inline;
                    }
                }
            }
        }
    }
}

a.s {
    @include inside-link;
}

.headslug {
    font-size: 170%;
    font-weight: bold;
    line-height: 150%;
    margin: 0 0 0 0;
}

.path {
    margin: .25em 0 -1em 0;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    text-transform: lowercase;
    a {
        @include inside-link;
    }
    .top_areas {
        text-align: right;
        width: 100%;
    }

    // A too-cute way to have the header work at ultra-narrow sizes.
    .home {
        font-weight: bold;
        word-spacing: -100%;
    }
    .chelder {
        display: none;
    }
    @media (min-width: $narrow-break) {
        .top_areas {
            font-size: 85%;
        }
    }
    @media (min-width: $tiny-break) {
        word-spacing: 60%;
        text-transform: none;
        .home {
            word-spacing: 0%;
        }
        .chelder {
            display: inline;
        }
    }
}

.blog-entry {
    header {
        padding-bottom: .2em;
        margin-bottom: 0;
    }
    footer {
        font-size: 85%;
        color: $gray;
        font-style: italic;
        border-bottom: solid 1px silver;
        padding-bottom: 12pt;
        margin-bottom: 6pt;
        a {
            @include inside-link;
        }
    }
    .title {
        margin: 0;
        font-size: 115%;
        font-weight: bold;
        display: block;
        float: none;
    }
    .date {
        font-size: 85%;
        color: $gray;
        margin: 0;
        padding: 0;
        a.s {
            color: $gray;
        }
    }
    p {
        clear: both;
    }
    .via {
        float: right;
    }
}

/* The style for blog entries highlighted by being a fragment target. */

.hilitefragment {
    background: #ffa;
    padding: 1em 1em 0 1em;
    border: 1px solid #880;
}

/* Archive page: make the dates hang left to align all the titles. */

div.archive p {
    font-size: 100%;
    margin: 0 0 0 5.5em;
    line-height: 1.4em;
    &.date {
        width: 5em;
        text-align: right;
        padding: 0;
        margin: 0 0 -1.4em 0;
        color: $gray;
    }
}

/* Category page: Like archive, but the dates are wider. */

.category p {
    font-size: 100%;
    margin: 0 0 0 8.5em;
    line-height: 1.4em;
    &.date {
        width: 8em;
        text-align: right;
        padding: 0;
        margin: 0 0 -1.4em 0;
        color: $gray;
    }
}

.catlist p {
    margin: 0 0 0 10.5em;
    line-height: 1.4em;
    &.catname {
        padding: 0;
        margin: 0 0 -1.4em 0;
        width: 10em;
        text-align: right;
        font-weight: bold;
    }
}

.also {
    font-size: 85%;
    color: $gray;
    font-style: italic;
    text-decoration: none;
    a {
        @include inside-link;
    }
}

/* Monthly pages: prev/main/next links at the top and bottom. */

.pmntop {
    border-bottom: solid 1px silver;
    padding: 0 0 2em 0;
    margin: 0 0 .5em 0;
}

.pmnbot {
    padding: 0;
    margin: 3em 0 1.5em 0;
}

.pmn {
    span {
        font-size: 80%;
        display: block;
        line-height: 1em;
        margin: 0 0 -1em 0;
    }
    .p {
        text-align: left;
    }
    .m {
        text-align: center;
    }
    .n {
        text-align: right;
    }
}

/* Block quotes */

blockquote {
    font-size: 100%;
    margin: 1em auto;
    max-width: 95%;
    border-left: 1px solid #c0c0c0;
    padding: 0;
    background-color: #f0f0f0;
    div {
        margin: 0;
        padding: .3em 1em .1em 1em;
        p {
            margin: .4em 0;
        }
        ol, ul {
            margin: .4em 0;
            padding-left: 1.5em;
        }
    }
}

code {
    font-size: 70%;
    line-height: 130%;
    font-family: $code-font;
    display: block;
    // The code blocks weren't respecting widths, and making scroll bars.
    // Matt Rothenberg suggested width:1px, which fixed it.
    width: 1px;
}

blockquote.code {
    padding: .3em;
    border: none;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 1;
}

.code {
    a {
        text-decoration: none;
    }
    p.name {
        text-align: right;
        font-style: italic;
        margin: 0 0 -1em 0;
        padding: 0;
    }
    span.lineno {
        display: inline-block;
        width: 2.5em;
        color: #888;
        font-size: 80%;
        text-align: right;
        border-right: 1px solid #bbb;
        padding: 0 .5em 0 0;
        margin: 0;
    }

    /* Code styling.  There are a lot of different styles! */
    .c_commentline, .c_comment, .p_commentline, .h_comment, .css_comment, .hphp_comment, .hphp_commentline, .ps_comment, .ps_dsc_comment, .ps_dsc_value {
        color: #080;
    }
    .c_word, .c_preprocessor, .p_word, .h_tag, .h_tagunknown, .css_identifier, .css_unknown_identifier, .hphp_word, .ps_keyword {
        font-weight: bold;
        color: #008;
    }
    .h_attribute, .h_attributeunknown {
        color: #008;
    }
    .c_string, .c_character, .p_string, .p_character, .p_triple, .p_tripledouble, .h_doublestring, .h_singlestring, .css_doublestring, .css_singlestring, .hphp_hstring, .hphp_simplestring, .ps_text {
        color: #808;
    }
    .p_classname, .p_defname, .css_class, .css_pseudoclass, .css_unknown_pseudoclass, .css_tag, .ps_literal {
        font-weight: bold;
        color: #088;
    }
    .hll {
        background-color: #ffffcc;
    }
    .c {
        color: #008000;
    }
    .err {
        border: 1px solid #FF0000;
    }
    .k {
        color: #000080;
        font-weight: bold;
    }
    .cm {
        color: #008000;
    }
    .cp {
        color: #0000ff;
    }
    .c1, .cs {
        color: #008000;
    }
    .ge {
        font-style: italic;
    }
    .gh, .gp, .gs, .gu {
        font-weight: bold;
    }
    .kc, .kd, .kn, .kp, .kr {
        color: #0000ff;
    }
    .kt {
        color: #2b91af;
    }
    .s {
        color: #a31515;
    }
    .nc {
        color: #2b91af;
    }
    .ow {
        color: #0000ff;
    }
    .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
        color: #a31515;
    }
}

table.sourcetable {
    /* Numbered code gets put in a .sourcetable table, inside a blockquote.code, so we
     * need to cancel out the padding. */
    margin: -0.3em;

    td {
        border: none;
        &.linenos {
            width: 3em;
        }
        &.code {
            width: 100%;
            padding: 0 0.5em;
        }
    }
}

div.linenodiv {
    padding: 0 1em 0 0;
    pre {
        margin: .3em 0 0 0;
    }
}


.codeword {
    font-size: 80%;
    font-family: $code-font;
    background-color: #e8e8e8;
    padding: 0 .2em;
}

.box {
    border: 1px solid;
    border-color: #ccc #999 #999 #ccc;
    padding: .3em .6em;
    background-color: #ffc;
}

img {
    max-width: 100%;
    height: auto;
}

.tweet a {
    &.user, &.date {
        text-decoration: none;
        color: inherit;
    }
    &.user:hover, &.date:hover {
        text-decoration: underline;
        color: inherit;
    }
}

#commentform {
    margin-top: 6pt;
    border-top: solid 1px #eee;
    padding-top: 0;
}

.comments {
    font-family: $them-font;
    font-size: 80%;
    line-height: 1.5em;
    h1 {
        border: none;
        border-radius: 3px;
        margin: 0;
        padding: 1em;
        background: #eee;
    }
    h2 {
        border: none;
        margin: 0;
        padding: 1em 0 .5em 0;
        font-style: italic;
        font-weight: normal;
    }

    .notice {
        color: $gray;
        font-style: italic;
        &.right {
            text-align: right;
        }
    }
    label {
        display: block;
        color: #666666;
        margin-top: .5em;
    }

    input {
        font-size: 100%;
        width: 100%;
        max-width: 30em;

        &[type="submit"], &[type="checkbox"] {
            width: auto;
        }
    }

    .comment {
        font-family: $them-font;
        border-top: solid 1px #eee;
        padding: .5em 10pt 0 50px;
        margin-top: .5em;
        overflow: auto;
        &.preview {
            background-color: #ffff80;
            border: 1px solid #cccccc;
            border-radius: 3px;
            padding: .5em 10pt 0 54px;
        }
        .who {
            font-family: $them-font;
            float: left;
            a {
                color: black;
            }
        }
        .when {
            font-family: $them-font;
            float: right;
            font-size: 85%;
            color: $gray;
            margin-top: 0;
        }
        .head {
            margin-bottom: 20pt;
        }
        img.gravatar {
            float: left;
            margin: 3px 0 0 -50px;
            border: 1px solid #eee;
            border-radius: 3px;
        }
        .commenttext {
            clear: right;
        }
    }

    .errormsg {
        color: #800;
        font-weight: bold;
        background: #fcc;
        padding: 2pt 4pt;
        border: 1px solid red;
        border-radius: 3px;
        margin: .5em 0;
    }
}

/* Search word highlighting */

.searchword0 {
    background-color: #CFFFB9;      // green
    text-decoration: inherit;
}

.searchword1 {
    background-color: #FFCFCF;      // pink
    text-decoration: inherit;
}

.searchword2 {
    background-color: #DCDAFF;      // blue
    text-decoration: inherit;
}

.searchwelcome {
    border: solid 1px silver;
    background: #ffc;
    margin-bottom: 2em;
    padding: 0 1em;
}

svg {
    stroke: black;
    fill: white;
    font-size: 125%;
    text {
        stroke: none;
        fill: black;
        &.top_code {
            font-family: monospace;
        }
    }
    .arrow {
        fill: none;
        stroke: black;
        stroke-width: 1;
    }
    .highlight {
        stroke-width: 5;
        stroke: #f00;
        fill: none;
        opacity: 0.5;
    }
    .grid {
        stroke: #8ff;
        stroke-width: 1;
        fill: none;
        .half {
            stroke-dasharray: 12.5 12.5;
            stroke-dashoffset: 6.25;
            stroke-dasharray: 2 2;
            stroke-dashoffset: 1;
        }
        .tiny {
            stroke-dasharray: 1 2;
            stroke: #cff;
        }
        .number {
            font-size: .5em;
            stroke: none;
            fill: #0cc;
        }
    }
    .framenum {
        font-size: .75em;
        stroke: none;
        fill: #f00;
    }
    .name {
        stroke: black;
        stroke-width: 1.66;
        fill: #ddd;
    }
    .value, .list {
        stroke: black;
        stroke-width: 1;
        fill: white;
    }
    .frame {
        stroke-width: 3;
        stroke: #666;
        stroke-dasharray: 10 10;
        fill: none;
    }
    text.framelabel {
        font-size: 90%;
        font-family: monospace;
    }
}
