/*! Styles for svg figures on nedbatchelder.com !*/

@import 'common';

svg {
    stroke: var(--fg-color);
    fill: var(--bg-color);

    @include lightmode {
        --name-fill: #ddd;
        --frame-stroke: #666;
        --highlight: #f00;
    }

    @include darkmode {
        --name-fill: #444;
        --frame-stroke: #aaa;
        --highlight: #f88;
    }

    text {
        stroke: none;
        fill: var(--fg-color);
        &.top_code {
            font-family: monospace;
        }
    }
    .arrow {
        fill: none;
        stroke: var(--fg-color);
        stroke-width: 1;
    }
    .arrowend {
        fill: var(--fg-color);
        stroke: none;
    }
    .highlight {
        stroke-width: 5;
        stroke: var(--highlight);
        fill: none;
        opacity: 0.5;
    }
    .grid {
        stroke: #8ff;
        stroke-width: 1;
        fill: none;
        .half {
            stroke-dasharray: 12.5 12.5;
            stroke-dashoffset: 6.25;
            stroke-dasharray: 2 2;
            stroke-dashoffset: 1;
        }
        .tiny {
            stroke-dasharray: 1 2;
            stroke: #cff;
        }
        .number {
            font-size: .5em;
            stroke: none;
            fill: #0cc;
        }
    }
    .framenum {
        font-size: .75em;
        stroke: none;
        fill: #f00;
    }
    .name {
        stroke: var(--fg-color);
        stroke-width: 1.66;
        fill: var(--name-fill);
    }
    .value, .list {
        stroke: var(--fg-color);
        stroke-width: 1;
        fill: var(--bg-color);
    }
    .frame {
        stroke-width: 3;
        stroke: var(--frame-stroke);
        stroke-dasharray: 10 10;
        fill: none;
    }
    text.framelabel {
        font-size: 90%;
        font-family: monospace;
    }
    text.modulelabel {
        font-size: 90%;
        font-family: monospace;
    }
}
