[Unit]
Description=Gunicorn instance to serve nedbatchelder.com
After=network.target

[Service]
WorkingDirectory=/home/nedbat/nedbatchelder.com
Environment="PATH=/home/nedbat/venvs/nedcom/bin"
Environment="DJANGO_SETTINGS_MODULE=djstell.settings_nedcom"
ExecStart=/home/nedbat/venvs/nedcom/bin/gunicorn --workers 3 --bind=nedbatchelder.com:9100 wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=default.target
