[Unit]
Description=Gunicorn instance to serve nedbatchelder.net
After=network.target

[Service]
WorkingDirectory=/home/nedbat/nedbatchelder.net
Environment="PATH=/home/nedbat/venvs/nednet/bin"
Environment="DJANGO_SETTINGS_MODULE=djstell.settings_nednet"
ExecStart=/home/nedbat/venvs/nednet/bin/gunicorn --workers 1 --bind=nedbatchelder.net:8101 wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=default.target
