{% extends "blogbase.html" %}
{% load tags %}

{# Don't index the content of monthly pages, it's all duplicates of individual entries. #}
{% block meta %}
{{ block.super }}
<meta name='ROBOTS' content='NOINDEX'>
{% endblock %}

{% block body %}
	<?php
		require_once('inc/reactor_class.php');
		$ror = new Reactor();
		$ror->PrepareManyComments();
	?>

    {# Top nav #}
    {% if prev_ent or next_ent %}
    <p class='pmn pmntop'>
        {% prev_main_next prev_ent next_ent %}
    </p>
    {% endif %}
    
    {% for entry in entries %}
        {% blog_entry entry 'brief' %}
    {% endfor %}
    
    {% if prev_ent or next_ent %}
    <p class='pmn pmnbot'>
        {% prev_main_next prev_ent next_ent %}
    </p>
    {% endif %}

{% endblock %}
