# Ping nedbat/nedbat to update the GitHub profile.
#
# https://docs.github.com/en/rest/reference/repos#create-a-repository-dispatch-event
# https://github.community/t/triggering-by-other-repository/16163/12

name: "Ping profile"

on:
  - push

permissions: {}

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  ping:
    name: "Ping nedbat profile"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      with:
        # Needs: repo:public_repo
        github-token: ${{ secrets.NEDBAT_PING_TOKEN }}
        script: |
          await github.rest.actions.createWorkflowDispatch({
            owner: 'nedbat',
            repo: 'nedbat',
            workflow_id: 'build.yml',
            ref: 'main'
          })
